#TRAINING DATA

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving train.csv to train (4).csv

In [ ]:
import io
import pandas as pd
import numpy as np

df = pd.read_csv(io.BytesIO(uploaded['train.csv']))

In [ ]:
df.head(5)

,Property_ID,Property_Type,Property_Area,Number_of_Windows,Number_of_Doors,Furnishing,Frequency_of_Powercuts,Power_Backup,Water_Supply,Traffic_Density_Score,Crime_Rate,Dust_and_Noise,Air_Quality_Index,Neighborhood_Review,Habitability_score
0,0x21e3,Apartment,106,NaN,1,Semi_Furnished,0.0,No,Once in a day - Morning,5.89,Slightly below average,Medium,90.0,3.86,71.98
1,0x68d4,Apartment,733,2.0,2,Unfurnished,1.0,No,Once in a day - Evening,4.37,Well below average,Medium,96.0,3.55,71.20
2,0x7d81,Apartment,737,4.0,2,Fully Furnished,0.0,No,Once in a day - Morning,7.45,Slightly below average,Medium,121.0,3.81,71.39
3,0x7a57,Apartment,900,3.0,2,Unfurnished,2.0,Yes,Once in a day - Morning,6.16,Well above average,Medium,100.0,1.34,31.46
4,0x9409,Bungalow,2238,14.0,6,Fully Furnished,0.0,No,All time,5.46,Well below average,Medium,116.0,4.77,93.70

#CHECKING TEST AND SAMPLE

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving test.csv to test.csv

In [ ]:
sample = pd.read_csv(io.BytesIO(uploaded['sample_submission.csv']))

In [ ]:
sample.head(5)

In [ ]:
dataset_test=pd.read_csv(io.BytesIO(uploaded['test.csv']))

In [ ]:
dataset_test.head(5)

#DATA PREPROCESSING

In [ ]:
df.head(5)

,Property_ID,Property_Type,Property_Area,Number_of_Windows,Number_of_Doors,Furnishing,Frequency_of_Powercuts,Power_Backup,Water_Supply,Traffic_Density_Score,Crime_Rate,Dust_and_Noise,Air_Quality_Index,Neighborhood_Review,Habitability_score
0,0x21e3,Apartment,106,NaN,1,Semi_Furnished,0.0,No,Once in a day - Morning,5.89,Slightly below average,Medium,90.0,3.86,71.98
1,0x68d4,Apartment,733,2.0,2,Unfurnished,1.0,No,Once in a day - Evening,4.37,Well below average,Medium,96.0,3.55,71.20
2,0x7d81,Apartment,737,4.0,2,Fully Furnished,0.0,No,Once in a day - Morning,7.45,Slightly below average,Medium,121.0,3.81,71.39
3,0x7a57,Apartment,900,3.0,2,Unfurnished,2.0,Yes,Once in a day - Morning,6.16,Well above average,Medium,100.0,1.34,31.46
4,0x9409,Bungalow,2238,14.0,6,Fully Furnished,0.0,No,All time,5.46,Well below average,Medium,116.0,4.77,93.70

In [ ]:
df.describe()

,Property_Area,Number_of_Windows,Number_of_Doors,Frequency_of_Powercuts,Traffic_Density_Score,Air_Quality_Index,Neighborhood_Review,Habitability_score
count,39499.000000,37845.000000,39499.000000,38116.000000,39499.000000,39499.000000,39499.000000,39499.000000
mean,1391.715638,3.923768,2.331375,0.484678,6.354772,121.352566,3.735945,73.482297
std,1953.287544,2.690992,1.179964,0.752207,1.219681,62.384669,0.796843,14.118753
min,100.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,7.280000
25%,494.000000,2.000000,1.000000,0.000000,5.600000,95.000000,3.220000,69.660000
50%,932.000000,4.000000,2.000000,0.000000,6.470000,113.000000,3.850000,75.760000
75%,1770.000000,5.000000,3.000000,1.000000,7.220000,140.000000,4.260000,82.260000
max,28064.000000,15.000000,6.000000,3.000000,9.910000,1044.000000,5.000000,100.000000

In [ ]:
df.columns.unique()

Index(['Property_ID', 'Property_Type', 'Property_Area', 'Number_of_Windows',
       'Number_of_Doors', 'Furnishing', 'Frequency_of_Powercuts',
       'Power_Backup', 'Water_Supply', 'Traffic_Density_Score', 'Crime_Rate',
       'Dust_and_Noise', 'Air_Quality_Index', 'Neighborhood_Review',
       'Habitability_score'],
      dtype='object')

In [ ]:
df.Property_Type.unique()

array(['Apartment', 'Bungalow', 'Single-family home', 'Duplex',
       '#R%$G&867', 'Container Home'], dtype=object)

In [ ]:
df.Furnishing.unique()

array(['Semi_Furnished', 'Unfurnished', 'Fully Furnished', nan],
      dtype=object)

In [ ]:
df.Water_Supply.unique()

array(['Once in a day - Morning', 'Once in a day - Evening', 'All time',
       'NOT MENTIONED', 'Once in two days'], dtype=object)

In [ ]:
df.Crime_Rate.unique()

array(['Slightly below average', 'Well below average',
       'Well above average', nan, 'Slightly above average'], dtype=object)

In [ ]:
df.Dust_and_Noise.unique()

array(['Medium', nan, 'High', 'Low'], dtype=object)

#WORST CASE SCENARIO WHERE NA/NO DATA MEANS WORST CASE

In [ ]:
df['Dust_and_Noise'].tail(15)

39484    Medium
39485    Medium
39486    Medium
39487    Medium
39488    Medium
39489    Medium
39490      High
39491    Medium
39492    Medium
39493    Medium
39494    Medium
39495    Medium
39496    Medium
39497       NaN
39498      High
Name: Dust_and_Noise, dtype: object

In [ ]:
df.Dust_and_Noise.unique()

array(['Medium', nan, 'High', 'Low'], dtype=object)

In [ ]:
df['Dust_and_Noise'].isnull().sum().sum()

1219

In [ ]:
#Replacing Nan with High because uncertainty calls for worst case scenario and should reduce Habitability_score
df['Dust_and_Noise'] = df['Dust_and_Noise'].replace(np.nan,'High')

In [ ]:
df.Dust_and_Noise.unique()

array(['Medium', 'High', 'Low'], dtype=object)

In [ ]:
df['Crime_Rate'].unique()

array(['Slightly below average', 'Well below average',
       'Well above average', nan, 'Slightly above average'], dtype=object)

In [ ]:
df['Crime_Rate'].isnull().sum().sum()

787

In [ ]:
df['Crime_Rate'].head(10)

0    Slightly below average
1        Well below average
2    Slightly below average
3        Well above average
4        Well below average
5        Well below average
6                       NaN
7        Well above average
8        Well below average
9        Well below average
Name: Crime_Rate, dtype: object

In [ ]:
#Replacing Nan with Well above average because uncertainty calls for worst case scenario and should reduce Habitability_score
df['Crime_Rate'] = df['Crime_Rate'].replace(np.nan,'Well above average')

In [ ]:
df['Crime_Rate'].unique()

array(['Slightly below average', 'Well below average',
       'Well above average', 'Slightly above average'], dtype=object)

In [ ]:
df['Furnishing'].unique()

array(['Semi_Furnished', 'Unfurnished', 'Fully Furnished', nan],
      dtype=object)

In [ ]:
#Replacing Nan with Unfurnished because uncertainty calls for worst case scenario and should reduce Habitability_score
df['Furnishing'] = df['Furnishing'].replace(np.nan,'Unfurnished')

In [ ]:
df['Furnishing'].unique()

array(['Semi_Furnished', 'Unfurnished', 'Fully Furnished'], dtype=object)

In [ ]:
df['Property_Type'].unique()

array(['Apartment', 'Bungalow', 'Single-family home', 'Duplex',
       '#R%$G&867', 'Container Home'], dtype=object)

In [ ]:
df['Property_Type'].value_counts()

Apartment             14596
Single-family home    11477
Duplex                 5806
Bungalow               4238
Container Home         2872
#R%$G&867               510
Name: Property_Type, dtype: int64

In [ ]:
#since the effect of the value #R%$G&867 cannot be measured at the moment, it shall be unknown 
df['Property_Type'] = df['Property_Type'].replace('#R%$G&867','UnKnown')

In [ ]:
df['Property_Type'].unique()

array(['Apartment', 'Bungalow', 'Single-family home', 'Duplex', 'UnKnown',
       'Container Home'], dtype=object)

#AVERAGE CASE SCENARIO WHERE NA/NO DATA IS REPLACED WITH THE MEAN/MEDIAN OF THE PRESENT DATA

In [ ]:
df['Dust_and_Noise'].tail(15)

39484    Medium
39485    Medium
39486    Medium
39487    Medium
39488    Medium
39489    Medium
39490      High
39491    Medium
39492    Medium
39493    Medium
39494    Medium
39495    Medium
39496    Medium
39497       NaN
39498      High
Name: Dust_and_Noise, dtype: object

In [ ]:
df.Dust_and_Noise.unique()

array(['Medium', nan, 'High', 'Low'], dtype=object)

In [ ]:
df['Dust_and_Noise'].isnull().sum().sum()

1219

In [ ]:
df['Dust_and_Noise'] = df['Dust_and_Noise'].replace(np.nan,'Medium')

In [ ]:
df.Dust_and_Noise.unique()

array(['Medium', 'High', 'Low'], dtype=object)

In [ ]:
df['Crime_Rate'].unique()

array(['Slightly below average', 'Well below average',
       'Well above average', nan, 'Slightly above average'], dtype=object)

In [ ]:
df['Crime_Rate'].isnull().sum().sum()

787

In [ ]:
df['Crime_Rate'] = df['Crime_Rate'].replace(np.nan,'Slightly above average')

In [ ]:
df['Crime_Rate'].unique()

array(['Slightly below average', 'Well below average',
       'Well above average', 'Slightly above average'], dtype=object)

In [ ]:
df['Furnishing'].unique()

array(['Semi_Furnished', 'Unfurnished', 'Fully Furnished', nan],
      dtype=object)

In [ ]:
df['Furnishing'] = df['Furnishing'].replace(np.nan,'Semi_Furnished')

In [ ]:
df['Furnishing'].unique()

array(['Semi_Furnished', 'Unfurnished', 'Fully Furnished'], dtype=object)

In [ ]:
df['Property_Type'].unique()

array(['Apartment', 'Bungalow', 'Single-family home', 'Duplex',
       '#R%$G&867', 'Container Home'], dtype=object)

In [ ]:
df['Property_Type'].value_counts()

Apartment             14596
Single-family home    11477
Duplex                 5806
Bungalow               4238
Container Home         2872
#R%$G&867               510
Name: Property_Type, dtype: int64

In [ ]:
#since the effect of the value #R%$G&867 cannot be measured at the moment, it shall be unknown 
# df['Property_Type'] = df['Property_Type'].replace('#R%$G&867','UnKnown')

In [ ]:
#since the effect of the value #R%$G&867 cannot be measured at the moment, it shall be unknown 
df['Property_Type'] = df['Property_Type'].replace('#R%$G&867','Apartment')

In [ ]:
df['Property_Type'].unique()

array(['Apartment', 'Bungalow', 'Single-family home', 'Duplex',
       'Container Home'], dtype=object)

#CLEARING NULL VALUES

In [ ]:
df.head(5)

,Property_ID,Property_Type,Property_Area,Number_of_Windows,Number_of_Doors,Furnishing,Frequency_of_Powercuts,Power_Backup,Water_Supply,Traffic_Density_Score,Crime_Rate,Dust_and_Noise,Air_Quality_Index,Neighborhood_Review,Habitability_score
0,0x21e3,Apartment,106,NaN,1,Semi_Furnished,0.0,No,Once in a day - Morning,5.89,Slightly below average,Medium,90.0,3.86,71.98
1,0x68d4,Apartment,733,2.0,2,Unfurnished,1.0,No,Once in a day - Evening,4.37,Well below average,Medium,96.0,3.55,71.20
2,0x7d81,Apartment,737,4.0,2,Fully Furnished,0.0,No,Once in a day - Morning,7.45,Slightly below average,Medium,121.0,3.81,71.39
3,0x7a57,Apartment,900,3.0,2,Unfurnished,2.0,Yes,Once in a day - Morning,6.16,Well above average,Medium,100.0,1.34,31.46
4,0x9409,Bungalow,2238,14.0,6,Fully Furnished,0.0,No,All time,5.46,Well below average,Medium,116.0,4.77,93.70

In [ ]:
for i in df:
  temp=35  
  temp-=len(i)
  check_str=" "*temp
  print(i+check_str+ str(df[i].isnull().sum().sum()))

Property_ID                        0
Property_Type                      0
Property_Area                      0
Number_of_Windows                  1654
Number_of_Doors                    0
Furnishing                         0
Frequency_of_Powercuts             1383
Power_Backup                       0
Water_Supply                       0
Traffic_Density_Score              0
Crime_Rate                         0
Dust_and_Noise                     0
Air_Quality_Index                  0
Neighborhood_Review                0
Habitability_score                 0

In [ ]:
df['Number_of_Windows'].mean()

3.923768001056943

In [ ]:
#Replacing Nan with 4 because 3.923 is pretty close to 4 than to 3
df['Number_of_Windows'] = df['Number_of_Windows'].replace(np.nan,4)

In [ ]:
df['Frequency_of_Powercuts'].mean()

0.484678350299087

In [ ]:
df['Frequency_of_Powercuts'].unique()

array([ 0.,  1.,  2.,  3., nan])

In [ ]:
df['Frequency_of_Powercuts'].value_counts()

0.0    24471
1.0    10010
2.0     2441
3.0     1194
Name: Frequency_of_Powercuts, dtype: int64

In [ ]:
df['Frequency_of_Powercuts'].isnull().sum().sum()

1383

In [ ]:
#since the number of na values are considerable the mean value 0.48 is rounded to 0.5 and nan is replaced with it
# df['Frequency_of_Powercuts'] = df['Frequency_of_Powercuts'].replace(np.nan,0.5)

In [ ]:
for i in df:
  temp=35  
  temp-=len(i)
  check_str=" "*temp
  print(i+check_str+ str(df[i].isnull().sum().sum()))

Property_ID                        0
Property_Type                      0
Property_Area                      0
Number_of_Windows                  0
Number_of_Doors                    0
Furnishing                         0
Frequency_of_Powercuts             1383
Power_Backup                       0
Water_Supply                       0
Traffic_Density_Score              0
Crime_Rate                         0
Dust_and_Noise                     0
Air_Quality_Index                  0
Neighborhood_Review                0
Habitability_score                 0

In [ ]:
df['Frequency_of_Powercuts'].value_counts()

0.0    24471
1.0    10010
2.0     2441
3.0     1194
Name: Frequency_of_Powercuts, dtype: int64

In [ ]:
#since the number of na values are considerable the mean value 0.48 is rounded to 0.5 and nan is replaced with it
df['Frequency_of_Powercuts'] = df['Frequency_of_Powercuts'].replace(np.nan,0.0)

In [ ]:
df['Frequency_of_Powercuts'].value_counts()

0.0    25854
1.0    10010
2.0     2441
3.0     1194
Name: Frequency_of_Powercuts, dtype: int64

#Encoding categorical values

In [ ]:
df.head(5)

,Property_ID,Property_Type,Property_Area,Number_of_Windows,Number_of_Doors,Furnishing,Frequency_of_Powercuts,Power_Backup,Water_Supply,Traffic_Density_Score,Crime_Rate,Dust_and_Noise,Air_Quality_Index,Neighborhood_Review,Habitability_score
0,0x21e3,Apartment,106,4.0,1,Semi_Furnished,0.0,No,Once in a day - Morning,5.89,Slightly below average,Medium,90.0,3.86,71.98
1,0x68d4,Apartment,733,2.0,2,Unfurnished,1.0,No,Once in a day - Evening,4.37,Well below average,Medium,96.0,3.55,71.20
2,0x7d81,Apartment,737,4.0,2,Fully Furnished,0.0,No,Once in a day - Morning,7.45,Slightly below average,Medium,121.0,3.81,71.39
3,0x7a57,Apartment,900,3.0,2,Unfurnished,2.0,Yes,Once in a day - Morning,6.16,Well above average,Medium,100.0,1.34,31.46
4,0x9409,Bungalow,2238,14.0,6,Fully Furnished,0.0,No,All time,5.46,Well below average,Medium,116.0,4.77,93.70

In [ ]:
encode_1 = pd.get_dummies(df, columns = ['Property_Type'],sparse=True)
# one_hot_encoded_data.replace({"NA": np.nan},inplace=True)
print(encode_1)

      Property_ID  Property_Area  Number_of_Windows  Number_of_Doors  \
0          0x21e3            106                4.0                1
1          0x68d4            733                2.0                2
2          0x7d81            737                4.0                2
3          0x7a57            900                3.0                2
4          0x9409           2238               14.0                6
...           ...            ...                ...              ...
39494      0x6e26           1120                3.0                2
39495      0xa013            445                1.0                3
39496      0x9721           3780                6.0                6
39497      0x7e25           1266                3.0                1
39498      0x8cb4           1229                2.0                4

            Furnishing  Frequency_of_Powercuts Power_Backup  \
0       Semi_Furnished                     0.0           No
1          Unfurnished                     1.0           No
2      Fully Furnished                     0.0           No
3          Unfurnished                     2.0          Yes
4      Fully Furnished                     0.0           No
...                ...                     ...          ...
39494      Unfurnished                     0.0           No
39495  Fully Furnished                     1.0           No
39496      Unfurnished                     0.0          Yes
39497   Semi_Furnished                     0.0           No
39498  Fully Furnished                     0.0           No

                  Water_Supply  Traffic_Density_Score              Crime_Rate  \
0      Once in a day - Morning                   5.89  Slightly below average
1      Once in a day - Evening                   4.37      Well below average
2      Once in a day - Morning                   7.45  Slightly below average
3      Once in a day - Morning                   6.16      Well above average
4                     All time                   5.46      Well below average
...                        ...                    ...                     ...
39494                 All time                   5.55  Slightly above average
39495                 All time                   5.70  Slightly above average
39496         Once in two days                   6.84      Well below average
39497  Once in a day - Morning                   4.60  Slightly above average
39498                 All time                   8.29      Well below average

      Dust_and_Noise  Air_Quality_Index  Neighborhood_Review  \
0             Medium               90.0                 3.86
1             Medium               96.0                 3.55
2             Medium              121.0                 3.81
3             Medium              100.0                 1.34
4             Medium              116.0                 4.77
...              ...                ...                  ...
39494         Medium               80.0                 3.56
39495         Medium               86.0                 2.93
39496         Medium              137.0                 3.80
39497           High               88.0                 3.25
39498           High              132.0                 4.67

       Habitability_score  Property_Type_Apartment  Property_Type_Bungalow  \
0                   71.98                        1                       0
1                   71.20                        1                       0
2                   71.39                        1                       0
3                   31.46                        1                       0
4                   93.70                        0                       1
...                   ...                      ...                     ...
39494               73.43                        0                       0
39495               79.91                        1                       0
39496               81.44                        0                       1
39497               71.33                        0                       0
39498               83.25                        0                       0

       Property_Type_Container Home  Property_Type_Duplex  \
0                                 0                     0
1                                 0                     0
2                                 0                     0
3                                 0                     0
4                                 0                     0
...                             ...                   ...
39494                             0                     0
39495                             0                     0
39496                             0                     0
39497                             0                     0
39498                             0                     0

       Property_Type_Single-family home  Property_Type_UnKnown
0                                     0                      0
1                                     0                      0
2                                     0                      0
3                                     0                      0
4                                     0                      0
...                                 ...                    ...
39494                                 1                      0
39495                                 0                      0
39496                                 0                      0
39497                                 1                      0
39498                                 1                      0

[39499 rows x 20 columns]

In [ ]:
encode_1.head(5)

,Property_ID,Property_Area,Number_of_Windows,Number_of_Doors,Furnishing,Frequency_of_Powercuts,Power_Backup,Water_Supply,Traffic_Density_Score,Crime_Rate,Dust_and_Noise,Air_Quality_Index,Neighborhood_Review,Habitability_score,Property_Type_Apartment,Property_Type_Bungalow,Property_Type_Container Home,Property_Type_Duplex,Property_Type_Single-family home,Property_Type_UnKnown
0,0x21e3,106,4.0,1,Semi_Furnished,0.0,No,Once in a day - Morning,5.89,Slightly below average,Medium,90.0,3.86,71.98,1,0,0,0,0,0
1,0x68d4,733,2.0,2,Unfurnished,1.0,No,Once in a day - Evening,4.37,Well below average,Medium,96.0,3.55,71.20,1,0,0,0,0,0
2,0x7d81,737,4.0,2,Fully Furnished,0.0,No,Once in a day - Morning,7.45,Slightly below average,Medium,121.0,3.81,71.39,1,0,0,0,0,0
3,0x7a57,900,3.0,2,Unfurnished,2.0,Yes,Once in a day - Morning,6.16,Well above average,Medium,100.0,1.34,31.46,1,0,0,0,0,0
4,0x9409,2238,14.0,6,Fully Furnished,0.0,No,All time,5.46,Well below average,Medium,116.0,4.77,93.70,0,1,0,0,0,0

In [ ]:
encode_2 = pd.get_dummies(encode_1, columns = ['Furnishing'],sparse=True)
# one_hot_encoded_data.replace({"NA": np.nan},inplace=True)
encode_2.head(5)

,Property_ID,Property_Area,Number_of_Windows,Number_of_Doors,Frequency_of_Powercuts,Power_Backup,Water_Supply,Traffic_Density_Score,Crime_Rate,Dust_and_Noise,...,Habitability_score,Property_Type_Apartment,Property_Type_Bungalow,Property_Type_Container Home,Property_Type_Duplex,Property_Type_Single-family home,Property_Type_UnKnown,Furnishing_Fully Furnished,Furnishing_Semi_Furnished,Furnishing_Unfurnished
0,0x21e3,106,4.0,1,0.0,No,Once in a day - Morning,5.89,Slightly below average,Medium,...,71.98,1,0,0,0,0,0,0,1,0
1,0x68d4,733,2.0,2,1.0,No,Once in a day - Evening,4.37,Well below average,Medium,...,71.20,1,0,0,0,0,0,0,0,1
2,0x7d81,737,4.0,2,0.0,No,Once in a day - Morning,7.45,Slightly below average,Medium,...,71.39,1,0,0,0,0,0,1,0,0
3,0x7a57,900,3.0,2,2.0,Yes,Once in a day - Morning,6.16,Well above average,Medium,...,31.46,1,0,0,0,0,0,0,0,1
4,0x9409,2238,14.0,6,0.0,No,All time,5.46,Well below average,Medium,...,93.70,0,1,0,0,0,0,1,0,0

In [ ]:
df.head(5)

,Property_ID,Property_Type,Property_Area,Number_of_Windows,Number_of_Doors,Furnishing,Frequency_of_Powercuts,Power_Backup,Water_Supply,Traffic_Density_Score,Crime_Rate,Dust_and_Noise,Air_Quality_Index,Neighborhood_Review,Habitability_score
0,0x21e3,Apartment,106,4.0,1,Semi_Furnished,0.0,No,Once in a day - Morning,5.89,Slightly below average,Medium,90.0,3.86,71.98
1,0x68d4,Apartment,733,2.0,2,Unfurnished,1.0,No,Once in a day - Evening,4.37,Well below average,Medium,96.0,3.55,71.20
2,0x7d81,Apartment,737,4.0,2,Fully Furnished,0.0,No,Once in a day - Morning,7.45,Slightly below average,Medium,121.0,3.81,71.39
3,0x7a57,Apartment,900,3.0,2,Unfurnished,2.0,Yes,Once in a day - Morning,6.16,Well above average,Medium,100.0,1.34,31.46
4,0x9409,Bungalow,2238,14.0,6,Fully Furnished,0.0,No,All time,5.46,Well below average,Medium,116.0,4.77,93.70

In [ ]:
one_hot_encoded_data=pd.get_dummies(df, columns = ['Furnishing','Property_Type','Water_Supply','Crime_Rate','Dust_and_Noise','Power_Backup'],sparse=True)

In [ ]:
one_hot_encoded_data.head(5)

,Property_ID,Property_Area,Number_of_Windows,Number_of_Doors,Frequency_of_Powercuts,Traffic_Density_Score,Air_Quality_Index,Neighborhood_Review,Habitability_score,Furnishing_Fully Furnished,...,Crime_Rate_Slightly above average,Crime_Rate_Slightly below average,Crime_Rate_Well above average,Crime_Rate_Well below average,Dust_and_Noise_High,Dust_and_Noise_Low,Dust_and_Noise_Medium,Power_Backup_NOT MENTIONED,Power_Backup_No,Power_Backup_Yes
0,0x21e3,106,4.0,1,0.0,5.89,90.0,3.86,71.98,0,...,0,1,0,0,0,0,1,0,1,0
1,0x68d4,733,2.0,2,1.0,4.37,96.0,3.55,71.20,0,...,0,0,0,1,0,0,1,0,1,0
2,0x7d81,737,4.0,2,0.0,7.45,121.0,3.81,71.39,1,...,0,1,0,0,0,0,1,0,1,0
3,0x7a57,900,3.0,2,2.0,6.16,100.0,1.34,31.46,0,...,0,0,1,0,0,0,1,0,0,1
4,0x9409,2238,14.0,6,0.0,5.46,116.0,4.77,93.70,1,...,0,0,0,1,0,0,1,0,1,0

In [ ]:
df['Frequency_of_Powercuts'].unique()

array([0., 1., 2., 3.])

#FEATURE SCALING

In [ ]:
one_hot_encoded_data.head(5)

,Property_ID,Property_Area,Number_of_Windows,Number_of_Doors,Frequency_of_Powercuts,Traffic_Density_Score,Air_Quality_Index,Neighborhood_Review,Habitability_score,Furnishing_Fully Furnished,...,Crime_Rate_Slightly above average,Crime_Rate_Slightly below average,Crime_Rate_Well above average,Crime_Rate_Well below average,Dust_and_Noise_High,Dust_and_Noise_Low,Dust_and_Noise_Medium,Power_Backup_NOT MENTIONED,Power_Backup_No,Power_Backup_Yes
0,0x21e3,106,4.0,1,0.0,5.89,90.0,3.86,71.98,0,...,0,1,0,0,0,0,1,0,1,0
1,0x68d4,733,2.0,2,1.0,4.37,96.0,3.55,71.20,0,...,0,0,0,1,0,0,1,0,1,0
2,0x7d81,737,4.0,2,0.0,7.45,121.0,3.81,71.39,1,...,0,1,0,0,0,0,1,0,1,0
3,0x7a57,900,3.0,2,2.0,6.16,100.0,1.34,31.46,0,...,0,0,1,0,0,0,1,0,0,1
4,0x9409,2238,14.0,6,0.0,5.46,116.0,4.77,93.70,1,...,0,0,0,1,0,0,1,0,1,0

In [ ]:
train = one_hot_encoded_data.iloc[:, 1:]
train.head(5)

,Property_Area,Number_of_Windows,Number_of_Doors,Frequency_of_Powercuts,Traffic_Density_Score,Air_Quality_Index,Neighborhood_Review,Habitability_score,Furnishing_Fully Furnished,Furnishing_Semi_Furnished,...,Crime_Rate_Slightly above average,Crime_Rate_Slightly below average,Crime_Rate_Well above average,Crime_Rate_Well below average,Dust_and_Noise_High,Dust_and_Noise_Low,Dust_and_Noise_Medium,Power_Backup_NOT MENTIONED,Power_Backup_No,Power_Backup_Yes
0,106,4.0,1,0.0,5.89,90.0,3.86,71.98,0,1,...,0,1,0,0,0,0,1,0,1,0
1,733,2.0,2,1.0,4.37,96.0,3.55,71.20,0,0,...,0,0,0,1,0,0,1,0,1,0
2,737,4.0,2,0.0,7.45,121.0,3.81,71.39,1,0,...,0,1,0,0,0,0,1,0,1,0
3,900,3.0,2,2.0,6.16,100.0,1.34,31.46,0,0,...,0,0,1,0,0,0,1,0,0,1
4,2238,14.0,6,0.0,5.46,116.0,4.77,93.70,1,0,...,0,0,0,1,0,0,1,0,1,0

In [ ]:
train=train.drop(['Habitability_score'], axis=1)
train.head(5)

,Property_Area,Number_of_Windows,Number_of_Doors,Frequency_of_Powercuts,Traffic_Density_Score,Air_Quality_Index,Neighborhood_Review,Furnishing_Fully Furnished,Furnishing_Semi_Furnished,Furnishing_Unfurnished,...,Crime_Rate_Slightly above average,Crime_Rate_Slightly below average,Crime_Rate_Well above average,Crime_Rate_Well below average,Dust_and_Noise_High,Dust_and_Noise_Low,Dust_and_Noise_Medium,Power_Backup_NOT MENTIONED,Power_Backup_No,Power_Backup_Yes
0,106,4.0,1,0.0,5.89,90.0,3.86,0,1,0,...,0,1,0,0,0,0,1,0,1,0
1,733,2.0,2,1.0,4.37,96.0,3.55,0,0,1,...,0,0,0,1,0,0,1,0,1,0
2,737,4.0,2,0.0,7.45,121.0,3.81,1,0,0,...,0,1,0,0,0,0,1,0,1,0
3,900,3.0,2,2.0,6.16,100.0,1.34,0,0,1,...,0,0,1,0,0,0,1,0,0,1
4,2238,14.0,6,0.0,5.46,116.0,4.77,1,0,0,...,0,0,0,1,0,0,1,0,1,0

In [ ]:
for i in train:
  temp=35  
  temp-=len(i)
  check_str=" "*temp
  print(i+check_str+ str(train[i].isnull().sum().sum()))

Property_Area                      0
Number_of_Windows                  0
Number_of_Doors                    0
Frequency_of_Powercuts             0
Traffic_Density_Score              0
Air_Quality_Index                  0
Neighborhood_Review                0
Furnishing_Fully Furnished         0
Furnishing_Semi_Furnished          0
Furnishing_Unfurnished             0
Property_Type_Apartment            0
Property_Type_Bungalow             0
Property_Type_Container Home       0
Property_Type_Duplex               0
Property_Type_Single-family home   0
Property_Type_UnKnown              0
Water_Supply_All time              0
Water_Supply_NOT MENTIONED         0
Water_Supply_Once in a day - Evening0
Water_Supply_Once in a day - Morning0
Water_Supply_Once in two days      0
Crime_Rate_Slightly above average  0
Crime_Rate_Slightly below average  0
Crime_Rate_Well above average      0
Crime_Rate_Well below average      0
Dust_and_Noise_High                0
Dust_and_Noise_Low                 0
Dust_and_Noise_Medium              0
Power_Backup_NOT MENTIONED         0
Power_Backup_No                    0
Power_Backup_Yes                   0

In [ ]:
# copy the data
X_train = train.copy()

# apply normalization techniques
for column in X_train.columns:
	X_train[column] = (X_train[column] - X_train[column].min()) / (X_train[column].max() - X_train[column].min())	

# view normalized data
X_train.head(5)

,Property_Area,Number_of_Windows,Number_of_Doors,Frequency_of_Powercuts,Traffic_Density_Score,Air_Quality_Index,Neighborhood_Review,Furnishing_Fully Furnished,Furnishing_Semi_Furnished,Furnishing_Unfurnished,...,Crime_Rate_Slightly above average,Crime_Rate_Slightly below average,Crime_Rate_Well above average,Crime_Rate_Well below average,Dust_and_Noise_High,Dust_and_Noise_Low,Dust_and_Noise_Medium,Power_Backup_NOT MENTIONED,Power_Backup_No,Power_Backup_Yes
0,0.000215,0.266667,0.0,0.000000,0.594349,0.086207,0.772,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
1,0.022636,0.133333,0.2,0.333333,0.440969,0.091954,0.710,0.0,0.0,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0
2,0.022779,0.266667,0.2,0.000000,0.751766,0.115900,0.762,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
3,0.028608,0.200000,0.2,0.666667,0.621594,0.095785,0.268,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
4,0.076455,0.933333,1.0,0.000000,0.550959,0.111111,0.954,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0

In [ ]:
y_train=df['Habitability_score']
y_train.head(5)

0    71.98
1    71.20
2    71.39
3    31.46
4    93.70
Name: Habitability_score, dtype: float64

#PREPROCESSING TEST DATA

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving test.csv to test (8).csv

In [ ]:
X_test=pd.read_csv(io.BytesIO(uploaded['test.csv']))

In [ ]:
X_test.head(5)

,Property_ID,Property_Type,Property_Area,Number_of_Windows,Number_of_Doors,Furnishing,Frequency_of_Powercuts,Power_Backup,Water_Supply,Traffic_Density_Score,Crime_Rate,Dust_and_Noise,Air_Quality_Index,Neighborhood_Review
0,0x6e93,Apartment,293,3.0,1,Unfurnished,0.0,No,Once in a day - Morning,7.28,Well above average,Medium,152.0,2.52
1,0x8787,Apartment,586,4.0,1,Semi_Furnished,0.0,No,Once in a day - Evening,7.63,Well below average,Medium,92.0,4.16
2,0x6c17,Container Home,305,1.0,2,Semi_Furnished,1.0,No,All time,5.39,Slightly above average,Medium,90.0,2.92
3,0x9dbd,Apartment,258,2.0,1,Semi_Furnished,1.0,No,All time,7.53,Slightly below average,Medium,158.0,3.45
4,0xbfde,Bungalow,3031,12.0,4,Fully Furnished,0.0,No,All time,8.79,Well above average,High,186.0,2.72

In [ ]:
X_test['Dust_and_Noise'].tail(15)

10485    Medium
10486    Medium
10487    Medium
10488    Medium
10489    Medium
10490    Medium
10491    Medium
10492    Medium
10493    Medium
10494       NaN
10495    Medium
10496    Medium
10497      High
10498    Medium
10499    Medium
Name: Dust_and_Noise, dtype: object

In [ ]:
X_test.Dust_and_Noise.unique()

array(['Medium', 'High', 'Low', nan], dtype=object)

In [ ]:
X_test['Dust_and_Noise'].isnull().sum().sum()

330

In [ ]:
#Replacing Nan with High because uncertainty calls for worst case scenario and should reduce Habitability_score
X_test['Dust_and_Noise'] = X_test['Dust_and_Noise'].replace(np.nan,'High')

In [ ]:
X_test.Dust_and_Noise.unique()

array(['Medium', 'High', 'Low'], dtype=object)

In [ ]:
X_test['Crime_Rate'].unique()

array(['Well above average', 'Well below average',
       'Slightly above average', 'Slightly below average', nan],
      dtype=object)

In [ ]:
X_test['Crime_Rate'].isnull().sum().sum()

212

In [ ]:
X_test['Crime_Rate'].head(10)

0        Well above average
1        Well below average
2    Slightly above average
3    Slightly below average
4        Well above average
5        Well below average
6        Well below average
7    Slightly below average
8    Slightly below average
9        Well below average
Name: Crime_Rate, dtype: object

In [ ]:
#Replacing Nan with Well above average because uncertainty calls for worst case scenario and should reduce Habitability_score
X_test['Crime_Rate'] = X_test['Crime_Rate'].replace(np.nan,'Well above average')

In [ ]:
X_test['Crime_Rate'].unique()

array(['Well above average', 'Well below average',
       'Slightly above average', 'Slightly below average'], dtype=object)

In [ ]:
X_test['Furnishing'].unique()

array(['Unfurnished', 'Semi_Furnished', 'Fully Furnished', nan],
      dtype=object)

In [ ]:
#Replacing Nan with Unfurnished because uncertainty calls for worst case scenario and should reduce Habitability_score
X_test['Furnishing'] = X_test['Furnishing'].replace(np.nan,'Unfurnished')

In [ ]:
X_test['Furnishing'].unique()

array(['Unfurnished', 'Semi_Furnished', 'Fully Furnished'], dtype=object)

In [ ]:
X_test['Property_Type'].unique()

array(['Apartment', 'Container Home', 'Bungalow', 'Single-family home',
       'Duplex', '#R%$G&867'], dtype=object)

In [ ]:
X_test['Property_Type'].value_counts()

Apartment             3853
Single-family home    3102
Duplex                1520
Bungalow              1105
Container Home         781
#R%$G&867              139
Name: Property_Type, dtype: int64

In [ ]:
#since the effect of the value #R%$G&867 cannot be measured at the moment, it shall be unknown 
X_test['Property_Type'] = X_test['Property_Type'].replace('#R%$G&867','UnKnown')

In [ ]:
X_test['Property_Type'].unique()

array(['Apartment', 'Container Home', 'Bungalow', 'Single-family home',
       'Duplex', 'UnKnown'], dtype=object)

In [ ]:
X_test.head(5)

,Property_ID,Property_Type,Property_Area,Number_of_Windows,Number_of_Doors,Furnishing,Frequency_of_Powercuts,Power_Backup,Water_Supply,Traffic_Density_Score,Crime_Rate,Dust_and_Noise,Air_Quality_Index,Neighborhood_Review
0,0x6e93,Apartment,293,3.0,1,Unfurnished,0.0,No,Once in a day - Morning,7.28,Well above average,Medium,152.0,2.52
1,0x8787,Apartment,586,4.0,1,Semi_Furnished,0.0,No,Once in a day - Evening,7.63,Well below average,Medium,92.0,4.16
2,0x6c17,Container Home,305,1.0,2,Semi_Furnished,1.0,No,All time,5.39,Slightly above average,Medium,90.0,2.92
3,0x9dbd,Apartment,258,2.0,1,Semi_Furnished,1.0,No,All time,7.53,Slightly below average,Medium,158.0,3.45
4,0xbfde,Bungalow,3031,12.0,4,Fully Furnished,0.0,No,All time,8.79,Well above average,High,186.0,2.72

In [ ]:
X_test['Number_of_Windows'].mean()

3.897563401292889

In [ ]:
#Replacing Nan with 4 because 3.923 is pretty close to 4 than to 3
X_test['Number_of_Windows'] = X_test['Number_of_Windows'].replace(np.nan,4)

In [ ]:
X_test['Frequency_of_Powercuts'].mean()

0.48440892046575884

In [ ]:
X_test['Frequency_of_Powercuts'].unique()

array([ 0.,  1.,  3.,  2., nan])

In [ ]:
X_test['Frequency_of_Powercuts'].value_counts()

0.0    6495
1.0    2681
2.0     646
3.0     312
Name: Frequency_of_Powercuts, dtype: int64

In [ ]:
X_test['Frequency_of_Powercuts'].isnull().sum().sum()

366

In [ ]:
#since the number of na values are considerable the mean value 0.48 is rounded to 0.5 and nan is replaced with it
X_test['Frequency_of_Powercuts'] = X_test['Frequency_of_Powercuts'].replace(np.nan,0.0)

In [ ]:
for i in X_test:
  temp=35  
  temp-=len(i)
  check_str=" "*temp
  print(i+check_str+ str(X_test[i].isnull().sum().sum()))

Property_ID                        0
Property_Type                      0
Property_Area                      0
Number_of_Windows                  0
Number_of_Doors                    0
Furnishing                         0
Frequency_of_Powercuts             0
Power_Backup                       0
Water_Supply                       0
Traffic_Density_Score              0
Crime_Rate                         0
Dust_and_Noise                     0
Air_Quality_Index                  0
Neighborhood_Review                0

In [ ]:
encoded_test_data=pd.get_dummies(X_test, columns = ['Furnishing','Property_Type','Water_Supply','Crime_Rate','Dust_and_Noise','Power_Backup'],sparse=True)
encoded_test_data.head(5)

,Property_ID,Property_Area,Number_of_Windows,Number_of_Doors,Frequency_of_Powercuts,Traffic_Density_Score,Air_Quality_Index,Neighborhood_Review,Furnishing_Fully Furnished,Furnishing_Semi_Furnished,...,Crime_Rate_Slightly above average,Crime_Rate_Slightly below average,Crime_Rate_Well above average,Crime_Rate_Well below average,Dust_and_Noise_High,Dust_and_Noise_Low,Dust_and_Noise_Medium,Power_Backup_NOT MENTIONED,Power_Backup_No,Power_Backup_Yes
0,0x6e93,293,3.0,1,0.0,7.28,152.0,2.52,0,0,...,0,0,1,0,0,0,1,0,1,0
1,0x8787,586,4.0,1,0.0,7.63,92.0,4.16,0,1,...,0,0,0,1,0,0,1,0,1,0
2,0x6c17,305,1.0,2,1.0,5.39,90.0,2.92,0,1,...,1,0,0,0,0,0,1,0,1,0
3,0x9dbd,258,2.0,1,1.0,7.53,158.0,3.45,0,1,...,0,1,0,0,0,0,1,0,1,0
4,0xbfde,3031,12.0,4,0.0,8.79,186.0,2.72,1,0,...,0,0,1,0,1,0,0,0,1,0

In [ ]:
# copy the data
X_test = encoded_test_data.iloc[:, 1:]


# apply normalization techniques
for column in X_test.columns:
	X_test[column] = (X_test[column] - X_test[column].min()) / (X_test[column].max() - X_test[column].min())	

# view normalized data
X_test.head(5)

,Property_Area,Number_of_Windows,Number_of_Doors,Frequency_of_Powercuts,Traffic_Density_Score,Air_Quality_Index,Neighborhood_Review,Furnishing_Fully Furnished,Furnishing_Semi_Furnished,Furnishing_Unfurnished,...,Crime_Rate_Slightly above average,Crime_Rate_Slightly below average,Crime_Rate_Well above average,Crime_Rate_Well below average,Dust_and_Noise_High,Dust_and_Noise_Low,Dust_and_Noise_Medium,Power_Backup_NOT MENTIONED,Power_Backup_No,Power_Backup_Yes
0,0.007050,0.200000,0.0,0.000000,0.771520,0.147430,0.502008,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
1,0.017752,0.266667,0.0,0.000000,0.808714,0.089234,0.831325,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0
2,0.007488,0.066667,0.2,0.333333,0.570670,0.087294,0.582329,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
3,0.005771,0.133333,0.0,0.333333,0.798087,0.153249,0.688755,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
4,0.107061,0.800000,0.6,0.000000,0.931987,0.180407,0.542169,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

#PREPROCESSING TEST DATA(AVERAGE CASE SCENARIO)

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving test.csv to test (3).csv

In [ ]:
X_test=pd.read_csv(io.BytesIO(uploaded['test.csv']))

In [ ]:
X_test.head(5)

,Property_ID,Property_Type,Property_Area,Number_of_Windows,Number_of_Doors,Furnishing,Frequency_of_Powercuts,Power_Backup,Water_Supply,Traffic_Density_Score,Crime_Rate,Dust_and_Noise,Air_Quality_Index,Neighborhood_Review
0,0x6e93,Apartment,293,3.0,1,Unfurnished,0.0,No,Once in a day - Morning,7.28,Well above average,Medium,152.0,2.52
1,0x8787,Apartment,586,4.0,1,Semi_Furnished,0.0,No,Once in a day - Evening,7.63,Well below average,Medium,92.0,4.16
2,0x6c17,Container Home,305,1.0,2,Semi_Furnished,1.0,No,All time,5.39,Slightly above average,Medium,90.0,2.92
3,0x9dbd,Apartment,258,2.0,1,Semi_Furnished,1.0,No,All time,7.53,Slightly below average,Medium,158.0,3.45
4,0xbfde,Bungalow,3031,12.0,4,Fully Furnished,0.0,No,All time,8.79,Well above average,High,186.0,2.72

In [ ]:
X_test['Dust_and_Noise'].tail(15)

10485    Medium
10486    Medium
10487    Medium
10488    Medium
10489    Medium
10490    Medium
10491    Medium
10492    Medium
10493    Medium
10494       NaN
10495    Medium
10496    Medium
10497      High
10498    Medium
10499    Medium
Name: Dust_and_Noise, dtype: object

In [ ]:
X_test.Dust_and_Noise.unique()

array(['Medium', 'High', 'Low', nan], dtype=object)

In [ ]:
X_test['Dust_and_Noise'].isnull().sum().sum()

330

In [ ]:
X_test['Dust_and_Noise'] = X_test['Dust_and_Noise'].replace(np.nan,'Medium')

In [ ]:
X_test.Dust_and_Noise.unique()

array(['Medium', 'High', 'Low'], dtype=object)

In [ ]:
X_test['Crime_Rate'].unique()

array(['Well above average', 'Well below average',
       'Slightly above average', 'Slightly below average', nan],
      dtype=object)

In [ ]:
X_test['Crime_Rate'].isnull().sum().sum()

212

In [ ]:
X_test['Crime_Rate'] = X_test['Crime_Rate'].replace(np.nan,'Slightly above average')

In [ ]:
X_test['Crime_Rate'].unique()

array(['Well above average', 'Well below average',
       'Slightly above average', 'Slightly below average'], dtype=object)

In [ ]:
X_test['Furnishing'].unique()

array(['Unfurnished', 'Semi_Furnished', 'Fully Furnished', nan],
      dtype=object)

In [ ]:
X_test['Furnishing'] = X_test['Furnishing'].replace(np.nan,'Semi_Furnished')

In [ ]:
X_test['Furnishing'].unique()

array(['Unfurnished', 'Semi_Furnished', 'Fully Furnished'], dtype=object)

In [ ]:
X_test['Property_Type'].unique()

array(['Apartment', 'Container Home', 'Bungalow', 'Single-family home',
       'Duplex', '#R%$G&867'], dtype=object)

In [ ]:
X_test['Property_Type'].value_counts()

Apartment             3853
Single-family home    3102
Duplex                1520
Bungalow              1105
Container Home         781
#R%$G&867              139
Name: Property_Type, dtype: int64

In [ ]:
#since the effect of the value #R%$G&867 cannot be measured at the moment, it shall be unknown 
# X_test['Property_Type'] = X_test['Property_Type'].replace('#R%$G&867','UnKnown')

In [ ]:
#since the effect of the value #R%$G&867 cannot be measured at the moment, it shall be unknown 
X_test['Property_Type'] = X_test['Property_Type'].replace('#R%$G&867','Apartment')

In [ ]:
X_test['Property_Type'].unique()

array(['Apartment', 'Container Home', 'Bungalow', 'Single-family home',
       'Duplex'], dtype=object)

In [ ]:
X_test['Number_of_Windows'].mean()

3.897563401292889

In [ ]:
#Replacing Nan with 4 because 3.923 is pretty close to 4 than to 3
X_test['Number_of_Windows'] = X_test['Number_of_Windows'].replace(np.nan,4)

In [ ]:
X_test['Frequency_of_Powercuts'].mean()

0.48440892046575884

In [ ]:
X_test['Frequency_of_Powercuts'].unique()

array([ 0.,  1.,  3.,  2., nan])

In [ ]:
X_test['Frequency_of_Powercuts'].value_counts()

0.0    6495
1.0    2681
2.0     646
3.0     312
Name: Frequency_of_Powercuts, dtype: int64

In [ ]:
X_test['Frequency_of_Powercuts'].isnull().sum().sum()

366

In [ ]:
#since the number of na values are considerable the mean value 0.48 is rounded to 0.5 and nan is replaced with it
X_test['Frequency_of_Powercuts'] = X_test['Frequency_of_Powercuts'].replace(np.nan,0.0)

In [ ]:
for i in X_test:
  temp=35  
  temp-=len(i)
  check_str=" "*temp
  print(i+check_str+ str(X_test[i].isnull().sum().sum()))

Property_ID                        0
Property_Type                      0
Property_Area                      0
Number_of_Windows                  0
Number_of_Doors                    0
Furnishing                         0
Frequency_of_Powercuts             0
Power_Backup                       0
Water_Supply                       0
Traffic_Density_Score              0
Crime_Rate                         0
Dust_and_Noise                     0
Air_Quality_Index                  0
Neighborhood_Review                0

In [ ]:
encoded_test_data=pd.get_dummies(X_test, columns = ['Furnishing','Property_Type','Water_Supply','Crime_Rate','Dust_and_Noise','Power_Backup'],sparse=True)
encoded_test_data.head(5)

,Property_ID,Property_Area,Number_of_Windows,Number_of_Doors,Frequency_of_Powercuts,Traffic_Density_Score,Air_Quality_Index,Neighborhood_Review,Furnishing_Fully Furnished,Furnishing_Semi_Furnished,...,Crime_Rate_Slightly above average,Crime_Rate_Slightly below average,Crime_Rate_Well above average,Crime_Rate_Well below average,Dust_and_Noise_High,Dust_and_Noise_Low,Dust_and_Noise_Medium,Power_Backup_NOT MENTIONED,Power_Backup_No,Power_Backup_Yes
0,0x6e93,293,3.0,1,0.0,7.28,152.0,2.52,0,0,...,0,0,1,0,0,0,1,0,1,0
1,0x8787,586,4.0,1,0.0,7.63,92.0,4.16,0,1,...,0,0,0,1,0,0,1,0,1,0
2,0x6c17,305,1.0,2,1.0,5.39,90.0,2.92,0,1,...,1,0,0,0,0,0,1,0,1,0
3,0x9dbd,258,2.0,1,1.0,7.53,158.0,3.45,0,1,...,0,1,0,0,0,0,1,0,1,0
4,0xbfde,3031,12.0,4,0.0,8.79,186.0,2.72,1,0,...,0,0,1,0,1,0,0,0,1,0

In [ ]:
# copy the data
X_test = encoded_test_data.iloc[:, 1:]


# apply normalization techniques
for column in X_test.columns:
	X_test[column] = (X_test[column] - X_test[column].min()) / (X_test[column].max() - X_test[column].min())	

# view normalized data
X_test.head(5)

,Property_Area,Number_of_Windows,Number_of_Doors,Frequency_of_Powercuts,Traffic_Density_Score,Air_Quality_Index,Neighborhood_Review,Furnishing_Fully Furnished,Furnishing_Semi_Furnished,Furnishing_Unfurnished,...,Crime_Rate_Slightly above average,Crime_Rate_Slightly below average,Crime_Rate_Well above average,Crime_Rate_Well below average,Dust_and_Noise_High,Dust_and_Noise_Low,Dust_and_Noise_Medium,Power_Backup_NOT MENTIONED,Power_Backup_No,Power_Backup_Yes
0,0.007050,0.200000,0.0,0.000000,0.771520,0.147430,0.502008,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
1,0.017752,0.266667,0.0,0.000000,0.808714,0.089234,0.831325,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0
2,0.007488,0.066667,0.2,0.333333,0.570670,0.087294,0.582329,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
3,0.005771,0.133333,0.0,0.333333,0.798087,0.153249,0.688755,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
4,0.107061,0.800000,0.6,0.000000,0.931987,0.180407,0.542169,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

#MACHINE LEARNING MODEL FITTING

#CHECKING DATA

In [ ]:
X_train.head(5)

,Property_Area,Number_of_Windows,Number_of_Doors,Frequency_of_Powercuts,Traffic_Density_Score,Air_Quality_Index,Neighborhood_Review,Furnishing_Fully Furnished,Furnishing_Semi_Furnished,Furnishing_Unfurnished,...,Crime_Rate_Slightly above average,Crime_Rate_Slightly below average,Crime_Rate_Well above average,Crime_Rate_Well below average,Dust_and_Noise_High,Dust_and_Noise_Low,Dust_and_Noise_Medium,Power_Backup_NOT MENTIONED,Power_Backup_No,Power_Backup_Yes
0,0.000215,0.266667,0.0,0.000000,0.594349,0.086207,0.772,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
1,0.022636,0.133333,0.2,0.333333,0.440969,0.091954,0.710,0.0,0.0,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0
2,0.022779,0.266667,0.2,0.000000,0.751766,0.115900,0.762,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
3,0.028608,0.200000,0.2,0.666667,0.621594,0.095785,0.268,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
4,0.076455,0.933333,1.0,0.000000,0.550959,0.111111,0.954,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0

In [ ]:
for i,j in zip(X_train,X_test):
  temp=30
  check=temp-len(i)
  t=" "*check
  print(i+t+j)

Property_Area                 Property_Area
Number_of_Windows             Number_of_Windows
Number_of_Doors               Number_of_Doors
Frequency_of_Powercuts        Frequency_of_Powercuts
Traffic_Density_Score         Traffic_Density_Score
Air_Quality_Index             Air_Quality_Index
Neighborhood_Review           Neighborhood_Review
Furnishing_Fully Furnished    Furnishing_Fully Furnished
Furnishing_Semi_Furnished     Furnishing_Semi_Furnished
Furnishing_Unfurnished        Furnishing_Unfurnished
Property_Type_Apartment       Property_Type_Apartment
Property_Type_Bungalow        Property_Type_Bungalow
Property_Type_Container Home  Property_Type_Container Home
Property_Type_Duplex          Property_Type_Duplex
Property_Type_Single-family homeProperty_Type_Single-family home
Property_Type_UnKnown         Property_Type_UnKnown
Water_Supply_All time         Water_Supply_All time
Water_Supply_NOT MENTIONED    Water_Supply_NOT MENTIONED
Water_Supply_Once in a day - EveningWater_Supply_Once in a day - Evening
Water_Supply_Once in a day - MorningWater_Supply_Once in a day - Morning
Water_Supply_Once in two days Water_Supply_Once in two days
Crime_Rate_Slightly above averageCrime_Rate_Slightly above average
Crime_Rate_Slightly below averageCrime_Rate_Slightly below average
Crime_Rate_Well above average Crime_Rate_Well above average
Crime_Rate_Well below average Crime_Rate_Well below average
Dust_and_Noise_High           Dust_and_Noise_High
Dust_and_Noise_Low            Dust_and_Noise_Low
Dust_and_Noise_Medium         Dust_and_Noise_Medium
Power_Backup_NOT MENTIONED    Power_Backup_NOT MENTIONED
Power_Backup_No               Power_Backup_No
Power_Backup_Yes              Power_Backup_Yes

In [ ]:
X_test.head(5)

,Property_Area,Number_of_Windows,Number_of_Doors,Frequency_of_Powercuts,Traffic_Density_Score,Air_Quality_Index,Neighborhood_Review,Furnishing_Fully Furnished,Furnishing_Semi_Furnished,Furnishing_Unfurnished,...,Crime_Rate_Slightly above average,Crime_Rate_Slightly below average,Crime_Rate_Well above average,Crime_Rate_Well below average,Dust_and_Noise_High,Dust_and_Noise_Low,Dust_and_Noise_Medium,Power_Backup_NOT MENTIONED,Power_Backup_No,Power_Backup_Yes
0,0.007050,0.200000,0.0,0.000000,0.771520,0.147430,0.502008,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
1,0.017752,0.266667,0.0,0.000000,0.808714,0.089234,0.831325,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0
2,0.007488,0.066667,0.2,0.333333,0.570670,0.087294,0.582329,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
3,0.005771,0.133333,0.0,0.333333,0.798087,0.153249,0.688755,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
4,0.107061,0.800000,0.6,0.000000,0.931987,0.180407,0.542169,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

In [ ]:
y_train.head(5)

0    71.98
1    71.20
2    71.39
3    31.46
4    93.70
Name: Habitability_score, dtype: float64

In [ ]:
for i in X_test:
  temp=35  
  temp-=len(i)
  check_str=" "*temp
  print(i+check_str+ str(X_test[i].isnull().sum().sum()))

Property_Area                      0
Number_of_Windows                  0
Number_of_Doors                    0
Frequency_of_Powercuts             0
Traffic_Density_Score              0
Air_Quality_Index                  0
Neighborhood_Review                0
Furnishing_Fully Furnished         0
Furnishing_Semi_Furnished          0
Furnishing_Unfurnished             0
Property_Type_Apartment            0
Property_Type_Bungalow             0
Property_Type_Container Home       0
Property_Type_Duplex               0
Property_Type_Single-family home   0
Property_Type_UnKnown              0
Water_Supply_All time              0
Water_Supply_NOT MENTIONED         0
Water_Supply_Once in a day - Evening0
Water_Supply_Once in a day - Morning0
Water_Supply_Once in two days      0
Crime_Rate_Slightly above average  0
Crime_Rate_Slightly below average  0
Crime_Rate_Well above average      0
Crime_Rate_Well below average      0
Dust_and_Noise_High                0
Dust_and_Noise_Low                 0
Dust_and_Noise_Medium              0
Power_Backup_NOT MENTIONED         0
Power_Backup_No                    0
Power_Backup_Yes                   0

#trying train-test split with training data to check model accuracy

In [ ]:
a,b,c=X_train, X_test, y_train

In [ ]:
x,y=X_train,y_train

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 0)

In [ ]:
X_train, X_test, y_train, y_test = X_train.values, X_test.values, y_train.values, y_test.values

#RANDOM FOREST

In [ ]:
from sklearn.ensemble import RandomForestRegressor
# Instantiate model with 1000 decision trees
# rf = RandomForestRegressor(n_estimators = 1000, random_state = 42)
# Train the model on training data
# rf.fit(X_train,y_train);

In [ ]:
clf= RandomForestRegressor().fit(X_train, y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:625: UserWarning: pandas.DataFrame with sparse columns found.It will be converted to a dense numpy array.
  "pandas.DataFrame with sparse columns found."

In [ ]:
clf.score(X_train, y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:625: UserWarning: pandas.DataFrame with sparse columns found.It will be converted to a dense numpy array.
  "pandas.DataFrame with sparse columns found."

0.9732958159765834

In [ ]:
y_pred = clf.predict(X_test)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:625: UserWarning: pandas.DataFrame with sparse columns found.It will be converted to a dense numpy array.
  "pandas.DataFrame with sparse columns found."

In [ ]:
clf.score(X_test, y_test)

0.8174920103514653

In [ ]:
from sklearn.metrics import mean_squared_error
print("MSE",mean_squared_error(y_test,y_pred))

MSE 35.70911436825823

In [ ]:
from sklearn.metrics import mean_absolute_error
print("MAE",mean_absolute_error(y_test,y_pred))

MAE 4.566505949367088

In [ ]:
print("RMSE",np.sqrt(mean_squared_error(y_test,y_pred)))

RMSE 5.975710365158123

#GRADIENT BOOSTING

In [ ]:
# gradient boosting ensemble for making predictions for regression
from sklearn.datasets import make_regression
from sklearn.ensemble import GradientBoostingRegressor
# define dataset
# X, y = make_regression(n_samples=1000, n_features=20, n_informative=15, noise=0.1, random_state=7)
# define the model
model = GradientBoostingRegressor()
# fit the model on the whole dataset
model.fit(X_train, y_train)
# make a single prediction
# row = [0.20543991, -0.97049844, -0.81403429, -0.23842689, -0.60704084, -0.48541492, 0.53113006, 2.01834338, -0.90745243, -1.85859731, -1.02334791, -0.6877744, 0.60984819, -0.70630121, -1.29161497, 1.32385441, 1.42150747, 1.26567231, 2.56569098, -0.11154792]
y_pred = model.predict(X_test)
# summarize prediction
print('Prediction: %d' % y_pred[0])

Prediction: 79

In [ ]:
from sklearn.metrics import mean_absolute_error
print("MAE",mean_absolute_error(y_test,y_pred))

MAE 5.589007901450247

In [ ]:
from sklearn.metrics import mean_squared_error
print("MSE",mean_squared_error(y_test,y_pred))

MSE 49.200391391189726

In [ ]:
print("RMSE",np.sqrt(mean_squared_error(y_test,y_pred)))

RMSE 7.014299066278093

#SVM

In [ ]:
from sklearn.svm import SVR
regressor = SVR(kernel = 'rbf')
regressor.fit(X_train, y_train)

SVR()

In [ ]:
y_pred = regressor.predict(X_test)

In [ ]:
from sklearn.metrics import mean_absolute_error
print("MAE",mean_absolute_error(y_test,y_pred))

MAE 5.615429445381711

In [ ]:
from sklearn.metrics import mean_squared_error
print("MSE",mean_squared_error(y_test,y_pred))

MSE 54.03589326321756

In [ ]:
print("RMSE",np.sqrt(mean_squared_error(y_test,y_pred)))

RMSE 7.350911049877937

#LINEAR REGRESSION

In [ ]:
import numpy as np
from sklearn.linear_model import LinearRegression

In [ ]:
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [ ]:
r_sq = model.score(X_train, y_train)
print('coefficient of determination:', r_sq)

coefficient of determination: 0.5963359480084367

#ANN

#SEQUENTIAL MODEL

In [ ]:
import tensorflow as tf
ann = tf.keras.models.Sequential()

In [ ]:
ann.add(tf.keras.layers.Dense(units=120, activation='relu'))

In [ ]:
ann.add(tf.keras.layers.Dense(units=120, activation='relu'))

In [ ]:
ann.add(tf.keras.layers.Dense(units=120, activation='relu'))

In [ ]:
ann.add(tf.keras.layers.Dense(units=120, activation='relu'))

In [ ]:
ann.add(tf.keras.layers.Dense(units=120, activation='relu'))

In [ ]:
ann.add(tf.keras.layers.Dense(units=1))

In [ ]:
ann.compile(optimizer = 'adam', loss = 'mean_squared_error')

In [ ]:
history = ann.fit(X_train, y_train, batch_size = 32, epochs = 150)

Epoch 1/150
988/988 [==============================] - 35s 3ms/step - loss: 177.1373
Epoch 2/150
988/988 [==============================] - 3s 3ms/step - loss: 48.3373
Epoch 3/150
988/988 [==============================] - 4s 4ms/step - loss: 45.7792
Epoch 4/150
988/988 [==============================] - 5s 5ms/step - loss: 43.9698
Epoch 5/150
988/988 [==============================] - 5s 5ms/step - loss: 42.5580
Epoch 6/150
988/988 [==============================] - 5s 5ms/step - loss: 41.5264
Epoch 7/150
988/988 [==============================] - 3s 3ms/step - loss: 41.7459
Epoch 8/150
988/988 [==============================] - 3s 3ms/step - loss: 40.6501
Epoch 9/150
988/988 [==============================] - 3s 3ms/step - loss: 40.3066
Epoch 10/150
988/988 [==============================] - 3s 3ms/step - loss: 39.9365
Epoch 11/150
988/988 [==============================] - 3s 3ms/step - loss: 39.5278
Epoch 12/150
988/988 [==============================] - 3s 3ms/step - loss: 39.0972
Epoch 13/150
988/988 [==============================] - 3s 3ms/step - loss: 39.1017
Epoch 14/150
988/988 [==============================] - 3s 3ms/step - loss: 38.4705
Epoch 15/150
988/988 [==============================] - 3s 3ms/step - loss: 39.4030
Epoch 16/150
988/988 [==============================] - 3s 3ms/step - loss: 37.6921
Epoch 17/150
988/988 [==============================] - 3s 3ms/step - loss: 38.0232
Epoch 18/150
988/988 [==============================] - 3s 3ms/step - loss: 37.8895
Epoch 19/150
988/988 [==============================] - 3s 3ms/step - loss: 37.3533
Epoch 20/150
988/988 [==============================] - 3s 3ms/step - loss: 37.0682
Epoch 21/150
988/988 [==============================] - 3s 3ms/step - loss: 36.4898
Epoch 22/150
988/988 [==============================] - 3s 3ms/step - loss: 36.9409
Epoch 23/150
988/988 [==============================] - 3s 3ms/step - loss: 36.3864
Epoch 24/150
988/988 [==============================] - 3s 3ms/step - loss: 36.2867
Epoch 25/150
988/988 [==============================] - 3s 3ms/step - loss: 36.0685
Epoch 26/150
988/988 [==============================] - 3s 3ms/step - loss: 36.4630
Epoch 27/150
988/988 [==============================] - 3s 3ms/step - loss: 35.5783
Epoch 28/150
988/988 [==============================] - 3s 3ms/step - loss: 35.2396
Epoch 29/150
988/988 [==============================] - 3s 3ms/step - loss: 35.3056
Epoch 30/150
988/988 [==============================] - 3s 3ms/step - loss: 35.1652
Epoch 31/150
988/988 [==============================] - 3s 3ms/step - loss: 34.6833
Epoch 32/150
988/988 [==============================] - 3s 3ms/step - loss: 34.7136
Epoch 33/150
988/988 [==============================] - 3s 3ms/step - loss: 34.5818
Epoch 34/150
988/988 [==============================] - 3s 3ms/step - loss: 34.1620
Epoch 35/150
988/988 [==============================] - 3s 3ms/step - loss: 34.0578
Epoch 36/150
988/988 [==============================] - 3s 3ms/step - loss: 34.0445
Epoch 37/150
988/988 [==============================] - 3s 3ms/step - loss: 33.5703
Epoch 38/150
988/988 [==============================] - 3s 3ms/step - loss: 33.4046
Epoch 39/150
988/988 [==============================] - 3s 3ms/step - loss: 33.3783
Epoch 40/150
988/988 [==============================] - 3s 3ms/step - loss: 33.0886
Epoch 41/150
988/988 [==============================] - 3s 3ms/step - loss: 32.9068
Epoch 42/150
988/988 [==============================] - 3s 3ms/step - loss: 32.7928
Epoch 43/150
988/988 [==============================] - 3s 3ms/step - loss: 32.4561
Epoch 44/150
988/988 [==============================] - 3s 3ms/step - loss: 32.3737
Epoch 45/150
988/988 [==============================] - 3s 3ms/step - loss: 32.3771
Epoch 46/150
988/988 [==============================] - 3s 3ms/step - loss: 31.9309
Epoch 47/150
988/988 [==============================] - 3s 3ms/step - loss: 31.6367
Epoch 48/150
988/988 [==============================] - 3s 3ms/step - loss: 31.9042
Epoch 49/150
988/988 [==============================] - 3s 3ms/step - loss: 31.6627
Epoch 50/150
988/988 [==============================] - 3s 3ms/step - loss: 31.3104
Epoch 51/150
988/988 [==============================] - 3s 3ms/step - loss: 31.1276
Epoch 52/150
988/988 [==============================] - 3s 3ms/step - loss: 30.8281
Epoch 53/150
988/988 [==============================] - 3s 3ms/step - loss: 31.1667
Epoch 54/150
988/988 [==============================] - 3s 3ms/step - loss: 31.1705
Epoch 55/150
988/988 [==============================] - 3s 3ms/step - loss: 30.5762
Epoch 56/150
988/988 [==============================] - 3s 3ms/step - loss: 30.4105
Epoch 57/150
988/988 [==============================] - 3s 3ms/step - loss: 30.2192
Epoch 58/150
988/988 [==============================] - 3s 3ms/step - loss: 30.3814
Epoch 59/150
988/988 [==============================] - 3s 3ms/step - loss: 30.1939
Epoch 60/150
988/988 [==============================] - 3s 3ms/step - loss: 30.2164
Epoch 61/150
988/988 [==============================] - 3s 3ms/step - loss: 30.1824
Epoch 62/150
988/988 [==============================] - 3s 3ms/step - loss: 29.9704
Epoch 63/150
988/988 [==============================] - 3s 3ms/step - loss: 29.8714
Epoch 64/150
988/988 [==============================] - 3s 3ms/step - loss: 29.5972
Epoch 65/150
988/988 [==============================] - 3s 3ms/step - loss: 29.5885
Epoch 66/150
988/988 [==============================] - 3s 3ms/step - loss: 29.5253
Epoch 67/150
988/988 [==============================] - 3s 3ms/step - loss: 29.2184
Epoch 68/150
988/988 [==============================] - 3s 3ms/step - loss: 29.4344
Epoch 69/150
988/988 [==============================] - 3s 3ms/step - loss: 29.7285
Epoch 70/150
988/988 [==============================] - 3s 3ms/step - loss: 29.1465
Epoch 71/150
988/988 [==============================] - 3s 3ms/step - loss: 29.1251
Epoch 72/150
988/988 [==============================] - 3s 3ms/step - loss: 29.2521
Epoch 73/150
988/988 [==============================] - 3s 3ms/step - loss: 28.9593
Epoch 74/150
988/988 [==============================] - 3s 3ms/step - loss: 28.9343
Epoch 75/150
988/988 [==============================] - 3s 3ms/step - loss: 28.7328
Epoch 76/150
988/988 [==============================] - 3s 3ms/step - loss: 28.5912
Epoch 77/150
988/988 [==============================] - 3s 3ms/step - loss: 28.4987
Epoch 78/150
988/988 [==============================] - 3s 3ms/step - loss: 28.9385
Epoch 79/150
988/988 [==============================] - 3s 3ms/step - loss: 28.4001
Epoch 80/150
988/988 [==============================] - 3s 3ms/step - loss: 28.3213
Epoch 81/150
988/988 [==============================] - 3s 3ms/step - loss: 28.3774
Epoch 82/150
988/988 [==============================] - 3s 3ms/step - loss: 28.1928
Epoch 83/150
988/988 [==============================] - 3s 3ms/step - loss: 28.0966
Epoch 84/150
988/988 [==============================] - 3s 3ms/step - loss: 28.3093
Epoch 85/150
988/988 [==============================] - 3s 3ms/step - loss: 28.0273
Epoch 86/150
988/988 [==============================] - 3s 3ms/step - loss: 27.9400
Epoch 87/150
988/988 [==============================] - 3s 3ms/step - loss: 27.9788
Epoch 88/150
988/988 [==============================] - 3s 3ms/step - loss: 27.5392
Epoch 89/150
988/988 [==============================] - 3s 3ms/step - loss: 27.7005
Epoch 90/150
988/988 [==============================] - 3s 3ms/step - loss: 27.7353
Epoch 91/150
988/988 [==============================] - 3s 3ms/step - loss: 27.5333
Epoch 92/150
988/988 [==============================] - 3s 3ms/step - loss: 27.5927
Epoch 93/150
988/988 [==============================] - 3s 3ms/step - loss: 27.6905
Epoch 94/150
988/988 [==============================] - 3s 3ms/step - loss: 27.1471
Epoch 95/150
988/988 [==============================] - 3s 3ms/step - loss: 27.5784
Epoch 96/150
988/988 [==============================] - 3s 3ms/step - loss: 27.4403
Epoch 97/150
988/988 [==============================] - 3s 3ms/step - loss: 27.4393
Epoch 98/150
988/988 [==============================] - 3s 3ms/step - loss: 26.9399
Epoch 99/150
988/988 [==============================] - 3s 3ms/step - loss: 27.3036
Epoch 100/150
988/988 [==============================] - 3s 3ms/step - loss: 27.0976
Epoch 101/150
988/988 [==============================] - 3s 3ms/step - loss: 27.0871
Epoch 102/150
988/988 [==============================] - 3s 3ms/step - loss: 27.0469
Epoch 103/150
988/988 [==============================] - 3s 3ms/step - loss: 26.9132
Epoch 104/150
988/988 [==============================] - 3s 3ms/step - loss: 26.9973
Epoch 105/150
988/988 [==============================] - 3s 3ms/step - loss: 26.9492
Epoch 106/150
988/988 [==============================] - 3s 3ms/step - loss: 26.7615
Epoch 107/150
988/988 [==============================] - 3s 3ms/step - loss: 26.6563
Epoch 108/150
988/988 [==============================] - 3s 3ms/step - loss: 26.6968
Epoch 109/150
988/988 [==============================] - 3s 3ms/step - loss: 26.5385
Epoch 110/150
988/988 [==============================] - 3s 3ms/step - loss: 26.4334
Epoch 111/150
988/988 [==============================] - 3s 3ms/step - loss: 26.2085
Epoch 112/150
988/988 [==============================] - 3s 3ms/step - loss: 26.5221
Epoch 113/150
988/988 [==============================] - 3s 3ms/step - loss: 26.4040
Epoch 114/150
988/988 [==============================] - 3s 3ms/step - loss: 26.6213
Epoch 115/150
988/988 [==============================] - 3s 3ms/step - loss: 26.3025
Epoch 116/150
988/988 [==============================] - 3s 3ms/step - loss: 26.2635
Epoch 117/150
988/988 [==============================] - 3s 3ms/step - loss: 26.1968
Epoch 118/150
988/988 [==============================] - 3s 3ms/step - loss: 26.0624
Epoch 119/150
988/988 [==============================] - 3s 3ms/step - loss: 26.0009
Epoch 120/150
988/988 [==============================] - 3s 3ms/step - loss: 26.2825
Epoch 121/150
988/988 [==============================] - 3s 3ms/step - loss: 25.9359
Epoch 122/150
988/988 [==============================] - 3s 3ms/step - loss: 25.8772
Epoch 123/150
988/988 [==============================] - 3s 3ms/step - loss: 25.9570
Epoch 124/150
988/988 [==============================] - 3s 3ms/step - loss: 25.8385
Epoch 125/150
988/988 [==============================] - 3s 3ms/step - loss: 25.9589
Epoch 126/150
988/988 [==============================] - 3s 3ms/step - loss: 25.8489
Epoch 127/150
988/988 [==============================] - 3s 3ms/step - loss: 25.7102
Epoch 128/150
988/988 [==============================] - 3s 3ms/step - loss: 25.5580
Epoch 129/150
988/988 [==============================] - 3s 3ms/step - loss: 25.5306
Epoch 130/150
988/988 [==============================] - 3s 3ms/step - loss: 25.7682
Epoch 131/150
988/988 [==============================] - 3s 3ms/step - loss: 25.7198
Epoch 132/150
988/988 [==============================] - 3s 3ms/step - loss: 25.5809
Epoch 133/150
988/988 [==============================] - 3s 3ms/step - loss: 25.3488
Epoch 134/150
988/988 [==============================] - 3s 3ms/step - loss: 25.4617
Epoch 135/150
988/988 [==============================] - 3s 3ms/step - loss: 25.2045
Epoch 136/150
988/988 [==============================] - 3s 3ms/step - loss: 25.3839
Epoch 137/150
988/988 [==============================] - 3s 3ms/step - loss: 25.1937
Epoch 138/150
988/988 [==============================] - 3s 3ms/step - loss: 25.3591
Epoch 139/150
988/988 [==============================] - 3s 3ms/step - loss: 25.3112
Epoch 140/150
988/988 [==============================] - 3s 3ms/step - loss: 25.2429
Epoch 141/150
988/988 [==============================] - 3s 3ms/step - loss: 25.1857
Epoch 142/150
988/988 [==============================] - 3s 3ms/step - loss: 25.0848
Epoch 143/150
988/988 [==============================] - 3s 3ms/step - loss: 25.1953
Epoch 144/150
988/988 [==============================] - 3s 3ms/step - loss: 24.8960
Epoch 145/150
988/988 [==============================] - 3s 3ms/step - loss: 24.9152
Epoch 146/150
988/988 [==============================] - 3s 3ms/step - loss: 24.9939
Epoch 147/150
988/988 [==============================] - 3s 3ms/step - loss: 24.8531
Epoch 148/150
988/988 [==============================] - 3s 3ms/step - loss: 24.7875
Epoch 149/150
988/988 [==============================] - 3s 3ms/step - loss: 24.7004
Epoch 150/150
988/988 [==============================] - 3s 3ms/step - loss: 24.7725

In [ ]:
y_pred=ann.predict(X_test)

In [ ]:
len(y_pred)

7900

In [ ]:
len(X_test)

7900

In [ ]:
len(y_test)

7900

In [ ]:
from sklearn.metrics import mean_absolute_error
print("MAE",mean_absolute_error(y_test,y_pred))

MAE 4.772327600865424

In [ ]:
from sklearn.metrics import mean_squared_error
print("MSE",mean_squared_error(y_test,y_pred))

MSE 39.48540036738463

In [ ]:
print("RMSE",np.sqrt(mean_squared_error(y_test,y_pred)))

RMSE 6.2837409532367445

#BUILDING FINAL MODEL

In [ ]:
# since a,b,c=X_train, X_test, y_train was done earlier to check model accuracy
X_train, X_test, y_train = a,b,c

In [ ]:
X_train, X_test, y_train = X_train.values, X_test.values, y_train.values

In [ ]:
import tensorflow as tf
ann = tf.keras.models.Sequential()
ann.add(tf.keras.layers.Dense(units=120, activation='relu'))
ann.add(tf.keras.layers.Dense(units=120, activation='relu'))
ann.add(tf.keras.layers.Dense(units=120, activation='relu'))
ann.add(tf.keras.layers.Dense(units=120, activation='relu'))
ann.add(tf.keras.layers.Dense(units=120, activation='relu'))
ann.add(tf.keras.layers.Dense(units=120, activation='relu'))
ann.add(tf.keras.layers.Dense(units=1))
ann.compile(optimizer = 'adam', loss = 'mean_squared_error')

In [ ]:
history = ann.fit(X_train, y_train, batch_size = 32, epochs = 500)

Epoch 1/500
1235/1235 [==============================] - 4s 3ms/step - loss: 157.7032
Epoch 2/500
1235/1235 [==============================] - 3s 3ms/step - loss: 54.0762
Epoch 3/500
1235/1235 [==============================] - 3s 3ms/step - loss: 50.4442
Epoch 4/500
1235/1235 [==============================] - 3s 3ms/step - loss: 49.2062
Epoch 5/500
1235/1235 [==============================] - 3s 3ms/step - loss: 47.1464
Epoch 6/500
1235/1235 [==============================] - 3s 3ms/step - loss: 46.4739
Epoch 7/500
1235/1235 [==============================] - 3s 3ms/step - loss: 44.7475
Epoch 8/500
1235/1235 [==============================] - 3s 3ms/step - loss: 44.5776
Epoch 9/500
1235/1235 [==============================] - 3s 3ms/step - loss: 43.6415
Epoch 10/500
1235/1235 [==============================] - 3s 3ms/step - loss: 43.5130
Epoch 11/500
1235/1235 [==============================] - 3s 3ms/step - loss: 43.3405
Epoch 12/500
1235/1235 [==============================] - 3s 3ms/step - loss: 42.1208
Epoch 13/500
1235/1235 [==============================] - 3s 3ms/step - loss: 42.7157
Epoch 14/500
1235/1235 [==============================] - 3s 3ms/step - loss: 41.5912
Epoch 15/500
1235/1235 [==============================] - 3s 3ms/step - loss: 41.5839
Epoch 16/500
1235/1235 [==============================] - 3s 3ms/step - loss: 40.7841
Epoch 17/500
1235/1235 [==============================] - 3s 3ms/step - loss: 40.3798
Epoch 18/500
1235/1235 [==============================] - 3s 3ms/step - loss: 40.6034
Epoch 19/500
1235/1235 [==============================] - 3s 3ms/step - loss: 40.1043
Epoch 20/500
1235/1235 [==============================] - 3s 3ms/step - loss: 39.7304
Epoch 21/500
1235/1235 [==============================] - 3s 3ms/step - loss: 39.8042
Epoch 22/500
1235/1235 [==============================] - 3s 3ms/step - loss: 39.3272
Epoch 23/500
1235/1235 [==============================] - 3s 3ms/step - loss: 38.9142
Epoch 24/500
1235/1235 [==============================] - 3s 3ms/step - loss: 38.6684
Epoch 25/500
1235/1235 [==============================] - 3s 3ms/step - loss: 38.4853
Epoch 26/500
1235/1235 [==============================] - 3s 3ms/step - loss: 38.3083
Epoch 27/500
1235/1235 [==============================] - 3s 3ms/step - loss: 37.7630
Epoch 28/500
1235/1235 [==============================] - 3s 3ms/step - loss: 37.7892
Epoch 29/500
1235/1235 [==============================] - 3s 3ms/step - loss: 37.5921
Epoch 30/500
1235/1235 [==============================] - 3s 3ms/step - loss: 37.2454
Epoch 31/500
1235/1235 [==============================] - 3s 3ms/step - loss: 37.3555
Epoch 32/500
1235/1235 [==============================] - 3s 3ms/step - loss: 36.8252
Epoch 33/500
1235/1235 [==============================] - 3s 3ms/step - loss: 36.7499
Epoch 34/500
1235/1235 [==============================] - 3s 3ms/step - loss: 36.7181
Epoch 35/500
1235/1235 [==============================] - 3s 3ms/step - loss: 36.6296
Epoch 36/500
1235/1235 [==============================] - 3s 3ms/step - loss: 36.4437
Epoch 37/500
1235/1235 [==============================] - 4s 4ms/step - loss: 35.9811
Epoch 38/500
1235/1235 [==============================] - 3s 3ms/step - loss: 35.9401
Epoch 39/500
1235/1235 [==============================] - 4s 3ms/step - loss: 36.1776
Epoch 40/500
1235/1235 [==============================] - 4s 3ms/step - loss: 35.5267
Epoch 41/500
1235/1235 [==============================] - 3s 3ms/step - loss: 35.5344
Epoch 42/500
1235/1235 [==============================] - 3s 3ms/step - loss: 35.5365
Epoch 43/500
1235/1235 [==============================] - 3s 3ms/step - loss: 35.4835
Epoch 44/500
1235/1235 [==============================] - 3s 3ms/step - loss: 35.3094
Epoch 45/500
1235/1235 [==============================] - 3s 3ms/step - loss: 34.8681
Epoch 46/500
1235/1235 [==============================] - 3s 3ms/step - loss: 34.6681
Epoch 47/500
1235/1235 [==============================] - 3s 3ms/step - loss: 34.8241
Epoch 48/500
1235/1235 [==============================] - 3s 3ms/step - loss: 34.7969
Epoch 49/500
1235/1235 [==============================] - 3s 3ms/step - loss: 34.6795
Epoch 50/500
1235/1235 [==============================] - 3s 3ms/step - loss: 34.6348
Epoch 51/500
1235/1235 [==============================] - 3s 3ms/step - loss: 34.3671
Epoch 52/500
1235/1235 [==============================] - 3s 3ms/step - loss: 34.3469
Epoch 53/500
1235/1235 [==============================] - 3s 3ms/step - loss: 34.0710
Epoch 54/500
1235/1235 [==============================] - 3s 3ms/step - loss: 33.8884
Epoch 55/500
1235/1235 [==============================] - 3s 3ms/step - loss: 34.0646
Epoch 56/500
1235/1235 [==============================] - 3s 3ms/step - loss: 33.8020
Epoch 57/500
1235/1235 [==============================] - 3s 3ms/step - loss: 33.7734
Epoch 58/500
1235/1235 [==============================] - 3s 3ms/step - loss: 33.4530
Epoch 59/500
1235/1235 [==============================] - 3s 3ms/step - loss: 33.3781
Epoch 60/500
1235/1235 [==============================] - 3s 3ms/step - loss: 33.3452
Epoch 61/500
1235/1235 [==============================] - 3s 3ms/step - loss: 33.0656
Epoch 62/500
1235/1235 [==============================] - 3s 3ms/step - loss: 32.9835
Epoch 63/500
1235/1235 [==============================] - 3s 3ms/step - loss: 33.0949
Epoch 64/500
1235/1235 [==============================] - 3s 3ms/step - loss: 32.8533
Epoch 65/500
1235/1235 [==============================] - 3s 3ms/step - loss: 33.0397
Epoch 66/500
1235/1235 [==============================] - 3s 3ms/step - loss: 32.5803
Epoch 67/500
1235/1235 [==============================] - 3s 3ms/step - loss: 32.4105
Epoch 68/500
1235/1235 [==============================] - 3s 3ms/step - loss: 32.6182
Epoch 69/500
1235/1235 [==============================] - 3s 3ms/step - loss: 32.5750
Epoch 70/500
1235/1235 [==============================] - 3s 3ms/step - loss: 32.3570
Epoch 71/500
1235/1235 [==============================] - 3s 3ms/step - loss: 32.2470
Epoch 72/500
1235/1235 [==============================] - 3s 3ms/step - loss: 32.0314
Epoch 73/500
1235/1235 [==============================] - 3s 3ms/step - loss: 32.1344
Epoch 74/500
1235/1235 [==============================] - 3s 3ms/step - loss: 31.9264
Epoch 75/500
1235/1235 [==============================] - 3s 3ms/step - loss: 31.8403
Epoch 76/500
1235/1235 [==============================] - 3s 3ms/step - loss: 31.5692
Epoch 77/500
1235/1235 [==============================] - 3s 3ms/step - loss: 31.5510
Epoch 78/500
1235/1235 [==============================] - 3s 3ms/step - loss: 31.5314
Epoch 79/500
1235/1235 [==============================] - 4s 3ms/step - loss: 31.6109
Epoch 80/500
1235/1235 [==============================] - 4s 3ms/step - loss: 31.2222
Epoch 81/500
1235/1235 [==============================] - 3s 3ms/step - loss: 31.2915
Epoch 82/500
1235/1235 [==============================] - 3s 3ms/step - loss: 31.0728
Epoch 83/500
1235/1235 [==============================] - 3s 3ms/step - loss: 30.8352
Epoch 84/500
1235/1235 [==============================] - 3s 3ms/step - loss: 31.1248
Epoch 85/500
1235/1235 [==============================] - 3s 3ms/step - loss: 30.8060
Epoch 86/500
1235/1235 [==============================] - 3s 3ms/step - loss: 30.9154
Epoch 87/500
1235/1235 [==============================] - 3s 3ms/step - loss: 30.5981
Epoch 88/500
1235/1235 [==============================] - 3s 3ms/step - loss: 30.5876
Epoch 89/500
1235/1235 [==============================] - 3s 3ms/step - loss: 30.5643
Epoch 90/500
1235/1235 [==============================] - 3s 3ms/step - loss: 30.4535
Epoch 91/500
1235/1235 [==============================] - 3s 3ms/step - loss: 30.3699
Epoch 92/500
1235/1235 [==============================] - 3s 3ms/step - loss: 30.1878
Epoch 93/500
1235/1235 [==============================] - 3s 3ms/step - loss: 30.2524
Epoch 94/500
1235/1235 [==============================] - 3s 3ms/step - loss: 29.9514
Epoch 95/500
1235/1235 [==============================] - 3s 3ms/step - loss: 30.1085
Epoch 96/500
1235/1235 [==============================] - 3s 3ms/step - loss: 29.8786
Epoch 97/500
1235/1235 [==============================] - 3s 3ms/step - loss: 29.7073
Epoch 98/500
1235/1235 [==============================] - 3s 3ms/step - loss: 29.8317
Epoch 99/500
1235/1235 [==============================] - 3s 3ms/step - loss: 29.4662
Epoch 100/500
1235/1235 [==============================] - 3s 3ms/step - loss: 29.5274
Epoch 101/500
1235/1235 [==============================] - 3s 3ms/step - loss: 29.7157
Epoch 102/500
1235/1235 [==============================] - 3s 3ms/step - loss: 29.3964
Epoch 103/500
1235/1235 [==============================] - 3s 3ms/step - loss: 29.6287
Epoch 104/500
1235/1235 [==============================] - 3s 3ms/step - loss: 29.1520
Epoch 105/500
1235/1235 [==============================] - 3s 3ms/step - loss: 29.3036
Epoch 106/500
1235/1235 [==============================] - 3s 3ms/step - loss: 28.7996
Epoch 107/500
1235/1235 [==============================] - 3s 3ms/step - loss: 29.0026
Epoch 108/500
1235/1235 [==============================] - 3s 3ms/step - loss: 28.7254
Epoch 109/500
1235/1235 [==============================] - 3s 3ms/step - loss: 28.7124
Epoch 110/500
1235/1235 [==============================] - 3s 3ms/step - loss: 28.5932
Epoch 111/500
1235/1235 [==============================] - 3s 3ms/step - loss: 28.8217
Epoch 112/500
1235/1235 [==============================] - 3s 3ms/step - loss: 28.3785
Epoch 113/500
1235/1235 [==============================] - 3s 3ms/step - loss: 28.6884
Epoch 114/500
1235/1235 [==============================] - 3s 3ms/step - loss: 28.6064
Epoch 115/500
1235/1235 [==============================] - 3s 3ms/step - loss: 28.5148
Epoch 116/500
1235/1235 [==============================] - 3s 3ms/step - loss: 28.1870
Epoch 117/500
1235/1235 [==============================] - 3s 3ms/step - loss: 28.3553
Epoch 118/500
1235/1235 [==============================] - 5s 4ms/step - loss: 28.1804
Epoch 119/500
1235/1235 [==============================] - 4s 4ms/step - loss: 27.8913
Epoch 120/500
1235/1235 [==============================] - 3s 3ms/step - loss: 27.9394
Epoch 121/500
1235/1235 [==============================] - 3s 3ms/step - loss: 27.9591
Epoch 122/500
1235/1235 [==============================] - 3s 3ms/step - loss: 27.8751
Epoch 123/500
1235/1235 [==============================] - 3s 3ms/step - loss: 27.9055
Epoch 124/500
1235/1235 [==============================] - 3s 3ms/step - loss: 27.7999
Epoch 125/500
1235/1235 [==============================] - 3s 3ms/step - loss: 27.5010
Epoch 126/500
1235/1235 [==============================] - 3s 3ms/step - loss: 27.5101
Epoch 127/500
1235/1235 [==============================] - 3s 3ms/step - loss: 27.4851
Epoch 128/500
1235/1235 [==============================] - 3s 3ms/step - loss: 27.4926
Epoch 129/500
1235/1235 [==============================] - 3s 3ms/step - loss: 27.1238
Epoch 130/500
1235/1235 [==============================] - 3s 3ms/step - loss: 27.2747
Epoch 131/500
1235/1235 [==============================] - 3s 3ms/step - loss: 27.2791
Epoch 132/500
1235/1235 [==============================] - 3s 3ms/step - loss: 26.8808
Epoch 133/500
1235/1235 [==============================] - 4s 3ms/step - loss: 26.9196
Epoch 134/500
1235/1235 [==============================] - 3s 3ms/step - loss: 26.9629
Epoch 135/500
1235/1235 [==============================] - 3s 3ms/step - loss: 26.7312
Epoch 136/500
1235/1235 [==============================] - 3s 3ms/step - loss: 26.8382
Epoch 137/500
1235/1235 [==============================] - 3s 3ms/step - loss: 26.9829
Epoch 138/500
1235/1235 [==============================] - 3s 3ms/step - loss: 26.5701
Epoch 139/500
1235/1235 [==============================] - 3s 3ms/step - loss: 26.4290
Epoch 140/500
1235/1235 [==============================] - 3s 3ms/step - loss: 26.7805
Epoch 141/500
1235/1235 [==============================] - 3s 3ms/step - loss: 26.5647
Epoch 142/500
1235/1235 [==============================] - 3s 3ms/step - loss: 26.3347
Epoch 143/500
1235/1235 [==============================] - 3s 3ms/step - loss: 26.5012
Epoch 144/500
1235/1235 [==============================] - 3s 3ms/step - loss: 26.2987
Epoch 145/500
1235/1235 [==============================] - 3s 3ms/step - loss: 26.2054
Epoch 146/500
1235/1235 [==============================] - 3s 3ms/step - loss: 26.4032
Epoch 147/500
1235/1235 [==============================] - 3s 3ms/step - loss: 26.0818
Epoch 148/500
1235/1235 [==============================] - 3s 3ms/step - loss: 26.0106
Epoch 149/500
1235/1235 [==============================] - 3s 3ms/step - loss: 26.0408
Epoch 150/500
1235/1235 [==============================] - 3s 3ms/step - loss: 25.9794
Epoch 151/500
1235/1235 [==============================] - 3s 3ms/step - loss: 25.7582
Epoch 152/500
1235/1235 [==============================] - 3s 3ms/step - loss: 25.7414
Epoch 153/500
1235/1235 [==============================] - 3s 3ms/step - loss: 25.7005
Epoch 154/500
1235/1235 [==============================] - 3s 3ms/step - loss: 25.8400
Epoch 155/500
1235/1235 [==============================] - 3s 3ms/step - loss: 25.9589
Epoch 156/500
1235/1235 [==============================] - 3s 3ms/step - loss: 25.7764
Epoch 157/500
1235/1235 [==============================] - 5s 4ms/step - loss: 25.5286
Epoch 158/500
1235/1235 [==============================] - 4s 3ms/step - loss: 25.3779
Epoch 159/500
1235/1235 [==============================] - 3s 3ms/step - loss: 25.5876
Epoch 160/500
1235/1235 [==============================] - 3s 3ms/step - loss: 25.2142
Epoch 161/500
1235/1235 [==============================] - 3s 3ms/step - loss: 25.3851
Epoch 162/500
1235/1235 [==============================] - 3s 3ms/step - loss: 25.1921
Epoch 163/500
1235/1235 [==============================] - 3s 3ms/step - loss: 25.1698
Epoch 164/500
1235/1235 [==============================] - 3s 3ms/step - loss: 25.4179
Epoch 165/500
1235/1235 [==============================] - 3s 3ms/step - loss: 25.4331
Epoch 166/500
1235/1235 [==============================] - 3s 3ms/step - loss: 25.1760
Epoch 167/500
1235/1235 [==============================] - 3s 3ms/step - loss: 25.1129
Epoch 168/500
1235/1235 [==============================] - 3s 3ms/step - loss: 24.8992
Epoch 169/500
1235/1235 [==============================] - 3s 3ms/step - loss: 24.9456
Epoch 170/500
1235/1235 [==============================] - 3s 3ms/step - loss: 25.2393
Epoch 171/500
1235/1235 [==============================] - 3s 3ms/step - loss: 24.9323
Epoch 172/500
1235/1235 [==============================] - 3s 3ms/step - loss: 24.7753
Epoch 173/500
1235/1235 [==============================] - 3s 3ms/step - loss: 24.8296
Epoch 174/500
1235/1235 [==============================] - 3s 3ms/step - loss: 24.7618
Epoch 175/500
1235/1235 [==============================] - 3s 3ms/step - loss: 24.7561
Epoch 176/500
1235/1235 [==============================] - 4s 3ms/step - loss: 24.7836
Epoch 177/500
1235/1235 [==============================] - 3s 3ms/step - loss: 24.4332
Epoch 178/500
1235/1235 [==============================] - 3s 3ms/step - loss: 24.7500
Epoch 179/500
1235/1235 [==============================] - 3s 3ms/step - loss: 24.4677
Epoch 180/500
1235/1235 [==============================] - 3s 3ms/step - loss: 24.5557
Epoch 181/500
1235/1235 [==============================] - 3s 3ms/step - loss: 24.4040
Epoch 182/500
1235/1235 [==============================] - 3s 3ms/step - loss: 24.5265
Epoch 183/500
1235/1235 [==============================] - 3s 3ms/step - loss: 24.3059
Epoch 184/500
1235/1235 [==============================] - 3s 3ms/step - loss: 24.2055
Epoch 185/500
1235/1235 [==============================] - 4s 3ms/step - loss: 24.3051
Epoch 186/500
1235/1235 [==============================] - 3s 3ms/step - loss: 24.3665
Epoch 187/500
1235/1235 [==============================] - 3s 3ms/step - loss: 24.1730
Epoch 188/500
1235/1235 [==============================] - 3s 3ms/step - loss: 24.0371
Epoch 189/500
1235/1235 [==============================] - 3s 3ms/step - loss: 24.4862
Epoch 190/500
1235/1235 [==============================] - 3s 3ms/step - loss: 23.8498
Epoch 191/500
1235/1235 [==============================] - 3s 3ms/step - loss: 23.8172
Epoch 192/500
1235/1235 [==============================] - 3s 3ms/step - loss: 24.2521
Epoch 193/500
1235/1235 [==============================] - 3s 3ms/step - loss: 23.9645
Epoch 194/500
1235/1235 [==============================] - 3s 3ms/step - loss: 23.8216
Epoch 195/500
1235/1235 [==============================] - 5s 4ms/step - loss: 24.1233
Epoch 196/500
1235/1235 [==============================] - 3s 3ms/step - loss: 23.5720
Epoch 197/500
1235/1235 [==============================] - 3s 3ms/step - loss: 23.8440
Epoch 198/500
1235/1235 [==============================] - 3s 3ms/step - loss: 23.9288
Epoch 199/500
1235/1235 [==============================] - 4s 3ms/step - loss: 23.8412
Epoch 200/500
1235/1235 [==============================] - 4s 3ms/step - loss: 23.7983
Epoch 201/500
1235/1235 [==============================] - 3s 3ms/step - loss: 23.7029
Epoch 202/500
1235/1235 [==============================] - 3s 3ms/step - loss: 23.6926
Epoch 203/500
1235/1235 [==============================] - 3s 3ms/step - loss: 23.5351
Epoch 204/500
1235/1235 [==============================] - 3s 3ms/step - loss: 23.4388
Epoch 205/500
1235/1235 [==============================] - 3s 3ms/step - loss: 23.3878
Epoch 206/500
1235/1235 [==============================] - 3s 3ms/step - loss: 23.5408
Epoch 207/500
1235/1235 [==============================] - 3s 3ms/step - loss: 23.3368
Epoch 208/500
1235/1235 [==============================] - 3s 3ms/step - loss: 23.5801
Epoch 209/500
1235/1235 [==============================] - 3s 3ms/step - loss: 23.5182
Epoch 210/500
1235/1235 [==============================] - 3s 3ms/step - loss: 23.3091
Epoch 211/500
1235/1235 [==============================] - 3s 3ms/step - loss: 23.1405
Epoch 212/500
1235/1235 [==============================] - 3s 3ms/step - loss: 23.0778
Epoch 213/500
1235/1235 [==============================] - 3s 3ms/step - loss: 22.9361
Epoch 214/500
1235/1235 [==============================] - 3s 3ms/step - loss: 23.2265
Epoch 215/500
1235/1235 [==============================] - 3s 3ms/step - loss: 23.6202
Epoch 216/500
1235/1235 [==============================] - 3s 3ms/step - loss: 23.0118
Epoch 217/500
1235/1235 [==============================] - 3s 3ms/step - loss: 23.3925
Epoch 218/500
1235/1235 [==============================] - 3s 3ms/step - loss: 23.0738
Epoch 219/500
1235/1235 [==============================] - 3s 3ms/step - loss: 23.2468
Epoch 220/500
1235/1235 [==============================] - 3s 3ms/step - loss: 23.0822
Epoch 221/500
1235/1235 [==============================] - 3s 3ms/step - loss: 22.9382
Epoch 222/500
1235/1235 [==============================] - 3s 3ms/step - loss: 23.0260
Epoch 223/500
1235/1235 [==============================] - 3s 3ms/step - loss: 22.8661
Epoch 224/500
1235/1235 [==============================] - 3s 3ms/step - loss: 22.7037
Epoch 225/500
1235/1235 [==============================] - 3s 3ms/step - loss: 22.8167
Epoch 226/500
1235/1235 [==============================] - 3s 3ms/step - loss: 22.6644
Epoch 227/500
1235/1235 [==============================] - 3s 3ms/step - loss: 22.8556
Epoch 228/500
1235/1235 [==============================] - 3s 3ms/step - loss: 22.7432
Epoch 229/500
1235/1235 [==============================] - 3s 3ms/step - loss: 22.7111
Epoch 230/500
1235/1235 [==============================] - 3s 3ms/step - loss: 22.6079
Epoch 231/500
1235/1235 [==============================] - 3s 3ms/step - loss: 22.7313

KeyboardInterrupt: ignored

In [ ]:
y_pred=ann.predict(X_test)

In [ ]:
y_pred

#SAVING DATA IN CSV FORMAT

In [ ]:
# from google.colab import files
# uploaded = files.upload()

In [ ]:
Final_result=pd.read_csv(io.BytesIO(uploaded['test.csv']))
Final_result.head(5)

,Property_ID,Property_Type,Property_Area,Number_of_Windows,Number_of_Doors,Furnishing,Frequency_of_Powercuts,Power_Backup,Water_Supply,Traffic_Density_Score,Crime_Rate,Dust_and_Noise,Air_Quality_Index,Neighborhood_Review
0,0x6e93,Apartment,293,3.0,1,Unfurnished,0.0,No,Once in a day - Morning,7.28,Well above average,Medium,152.0,2.52
1,0x8787,Apartment,586,4.0,1,Semi_Furnished,0.0,No,Once in a day - Evening,7.63,Well below average,Medium,92.0,4.16
2,0x6c17,Container Home,305,1.0,2,Semi_Furnished,1.0,No,All time,5.39,Slightly above average,Medium,90.0,2.92
3,0x9dbd,Apartment,258,2.0,1,Semi_Furnished,1.0,No,All time,7.53,Slightly below average,Medium,158.0,3.45
4,0xbfde,Bungalow,3031,12.0,4,Fully Furnished,0.0,No,All time,8.79,Well above average,High,186.0,2.72

In [ ]:
Final_result=Final_result.set_index('Property_ID')
Final_result.head(5)

,Property_Type,Property_Area,Number_of_Windows,Number_of_Doors,Furnishing,Frequency_of_Powercuts,Power_Backup,Water_Supply,Traffic_Density_Score,Crime_Rate,Dust_and_Noise,Air_Quality_Index,Neighborhood_Review
Property_ID,,,,,,,,,,,,,
0x6e93,Apartment,293,3.0,1,Unfurnished,0.0,No,Once in a day - Morning,7.28,Well above average,Medium,152.0,2.52
0x8787,Apartment,586,4.0,1,Semi_Furnished,0.0,No,Once in a day - Evening,7.63,Well below average,Medium,92.0,4.16
0x6c17,Container Home,305,1.0,2,Semi_Furnished,1.0,No,All time,5.39,Slightly above average,Medium,90.0,2.92
0x9dbd,Apartment,258,2.0,1,Semi_Furnished,1.0,No,All time,7.53,Slightly below average,Medium,158.0,3.45
0xbfde,Bungalow,3031,12.0,4,Fully Furnished,0.0,No,All time,8.79,Well above average,High,186.0,2.72

In [ ]:
Final_result['Habitability_score']=y_pred
Final_result.head(5)

,Property_Type,Property_Area,Number_of_Windows,Number_of_Doors,Furnishing,Frequency_of_Powercuts,Power_Backup,Water_Supply,Traffic_Density_Score,Crime_Rate,Dust_and_Noise,Air_Quality_Index,Neighborhood_Review,Habitability_score
Property_ID,,,,,,,,,,,,,,
0x6e93,Apartment,293,3.0,1,Unfurnished,0.0,No,Once in a day - Morning,7.28,Well above average,Medium,152.0,2.52,29.0370
0x8787,Apartment,586,4.0,1,Semi_Furnished,0.0,No,Once in a day - Evening,7.63,Well below average,Medium,92.0,4.16,80.2380
0x6c17,Container Home,305,1.0,2,Semi_Furnished,1.0,No,All time,5.39,Slightly above average,Medium,90.0,2.92,66.5039
0x9dbd,Apartment,258,2.0,1,Semi_Furnished,1.0,No,All time,7.53,Slightly below average,Medium,158.0,3.45,72.9061
0xbfde,Bungalow,3031,12.0,4,Fully Furnished,0.0,No,All time,8.79,Well above average,High,186.0,2.72,76.9521

In [ ]:
# from google.colab import files
# Final_result.to_csv('Final_result.csv') 
# files.download('Final_result.csv')

#MODIFYING FILE ACCORDING TO SAMPLE SUBMISSION

In [ ]:
# from google.colab import files
# uploaded = files.upload()

In [ ]:
# Final_result=pd.read_csv(io.BytesIO(uploaded['Final_result.csv']))
# Final_result.head(5)

In [ ]:
Final_result.reset_index(inplace = True)

In [ ]:
Result=pd.DataFrame()
Result['Property_ID']= Final_result['Property_ID']
Result['Habitability_score']= Final_result['Habitability_score']
Final_result=Result

In [ ]:
from google.colab import files
Final_result.to_csv('Final_result.csv') 
files.download('Final_result.csv')

In [ ]:
Final_result.head(5)

  Property_ID  Habitability_score
0      0x6e93             29.0370
1      0x8787             80.2380
2      0x6c17             66.5039
3      0x9dbd             72.9061
4      0xbfde             76.9521